[2017-12-12 10:15] sarah872 opened #1 "SalmonTE on Galaxy server"
Does anyone know if it is already available through a publicGalaxy server?

[2017-12-12 17:44] hyunhwaj commented on #1
Hi @sarah872,

Thank you for your interested `SalmonTE`. I have not had any experience making any pipeline of mine available through a publicGalaxy server, but I believe it must be great to put this tool on the server. I will make a future plan on it, but I have to ask your patients to do it. I will be glad to any further suggestion or be providing any useful materials to help the implementation.

[2017-12-12 18:32] sarah872 commented on #1
I am asking because (1) you reported problems when running on MacOS and (2) I could run it in a cluster, but for that the admin needs to install it

keep me updated! thanks

[2017-12-12 20:00] hyunhwaj commented on #1
I will start work to solve the issue of MacOS with `docker` and will give an update in this week even it has not been finished.

For the `pip3` issue, I believe `pip3` must find the package, would you try below command?

`pip3 install git+git://github.com/docopt/docopt --user`

Best,

Hwan

[2017-12-12 20:02] sarah872 commented on #1
getting the following when trying your command:
`Requirement already satisfied (use --upgrade to upgrade): docopt==0.6.2 from git+https://github.com/docopt/docopt in /Users/Tobias/Library/Python/3.6/lib/python/site-packages`

[2017-12-12 21:08] hyunhwaj commented on #1
@sarah872,

The message shows the package has been installed. Are you having any problem and seeing any error message when you run `salmonTE`?

Thank you,

Hyun-Hwan Jeong

[2017-12-12 21:24] hyunhwaj commented on #1
Hi @sarah872,

I also have another thought for how to run it in your computing environment:

1. As we know, running it on`macOS` may have a problem and I am still figuring out, so it will take the time to solve the issue. Are you trying to install it on your `macOS` machine now? I guess multiple obstacles will wait for you to run, so I would not recommend you to take this option now.

2. However,

[2017-12-13 11:28] sarah872 commented on #1
I will wait then as I don't have permissions to install packages
keep me posted!

[2017-12-14 07:12] hyunhwaj commented on #1
Dear @sarah872,

I figured out the `macOS` problem was because `snakemake` which I used in one of my  machine was outdated. The problem is resolved with upgrading the `snakemake` package, and you can try it. Please let me know if you have any problem, and I will open another issue for the `macOS` to explore your issue.

For the version public galaxy server, it would be difficult to implement it, s

[2017-12-14 07:17] hyunhwaj opened #2 "SalmonTE crashes on macOS."
It is a follow-up to #1 which was initiated by @sarah872. That issue was opened because of @sarah872 is looking for another option to run. Now the issue is resolved (I believe so), and I will finalize if we can say **OKAY**.

Thanks for the reporting, @sarah872.

Hyun-Hwan Jeong

[2017-12-14 08:26] sarah872 commented on #1
Dear @hyunhwaj
I am still getting the error:
[code]

[2017-12-14 09:47] hyunhwaj commented on #1
@sarah872 Could you write down the problem #2 after now?

By the way, I guess you have multiple version of `python3` now. Could you provide output of `pip3 --version` and `python3 --version` for the clarification fo the problem? Moreover, I would you ask to run following commands.

[code]

Thank you,

Hyun-Hwan Jeong

[2017-12-14 10:27] #1 closed

[2017-12-14 10:28] sarah872 commented on #2
the command
`git clone https://github.com/docopt/docopt
cd docopt
python3 setup.py install`

solved the problem and SalmonTE is running perfectly now!

[2017-12-29 17:20] wjyzidane opened #3 "No module named 'pandas'"
I run the SalmonTE like this:

./SalmonTE.py quant --reference=hs ./example/CTRL_1_R1.fastq

and get error as below:

![image](https://user-images.githubusercontent.com/34944811/34442783-659b4682-ec92-11e7-82b8-d192c0a2fbd6.png)

But it seems the quantification files are generated here:
SalmonTE_output/CTRL_1_R1/quant.sf

but I am not sure if it is right. Appreciate your help. Thanks!

[2017-12-29 20:21] hyunhwaj commented on #3
Hello @wjyzidane,

I believe you can solve the problem after you run below command line:

[code]

Please let me know it works.

Thank you,

Hyun-Hwan Jeong

[2017-12-29 21:21] wjyzidane commented on #3
Hi Hyun-Hwan,

It works! Thanks a lot!

I am reading the results files from the SalmonTE and I wonder if there is a manual or some detailed
explanation about each output file as well as some input options like "--exprtype=exprtype".

Because I am a little bit confused that why NumReads in quant.sf is not the integer. I think the TPM from the quant.sf is the same number in EXPR.csv and that is what

[2017-12-29 22:15] wjyzidane commented on #3
Hi Hyun-Hwan,

I found there are 688 repeat categories included in the EXPR.csv for human genome but actually there are 1396 repeat categories for hg19 repeatmasker. So I wonder why there is such big difference. Thanks!

Jingyi

[2017-12-30 01:22] hyunhwaj commented on #3
Hello Jinygyi,

1. With `--exprtype` option, you can put two different type of values - TPM (if you put the value as `TPM` or does not set the parameter in the command), or `NumReads` counts (if you put the value as `count`). There is the reason why a `NumReads` is not an integer number is that this number is from the estimation (or approximation), but it is fine you can use the number after round

[2017-12-30 01:24] hyunhwaj commented on #2
Hello @sarah872,

Did you finish to run `SalmonTE`on macOS? Please let me know whether it works.

[2017-12-30 16:09] wjyzidane commented on #3
It makes sense now. Thank you so much!

[2017-12-30 18:01] #3 closed

[2017-12-30 18:02] #2 closed

[2017-12-30 22:08] wjyzidane opened #4 "Nothing to be done"
Salmon TE runs well on my previous samples but when I run it again today. It is done with nothing output.

![image](https://user-images.githubusercontent.com/34944811/34457619-0a149500-ed84-11e7-8755-93e0ee336ce0.png)

So I wonder if anything is going wrong. Thanks!

[2017-12-30 23:49] hyunhwaj commented on #4
I guess this was because all the outputs were created so SalmonTE skipped the quantification. Could you remove or change name of the previous output folder?

[2018-01-01 17:10] wjyzidane commented on #4
After I delete the previous folder. The SalmonTE runs well without error info. But there is still no result in the output folder. See my command, process info and output as below:

![qq20180101-1](https://user-images.githubusercontent.com/34944811/34469423-811e5bae-eeec-11e7-95e1-4e6132b3e081.png)

![qq20180101-2](https://user-images.githubusercontent.com/34944811/34469425-96b64ba2-eeec-11e7-9ee6-

[2018-01-01 23:10] hyunhwaj commented on #4
You can specify the output directory with `--outpath` parameter. Could you please run the below command?

[code]

You will see your output files in `test_SalmonTE_output` directory. If you still can't solve the problem once you run the command then I will need your information to figure out the issue:

* What is your version of  `SalmonTE`? If your version is not `0.2` then please update it. You c

[2018-01-01 23:36] wjyzidane commented on #4
Hi Hwan,

I found the problem. It is suffix. Because my filename is test.fq. When I changed it to test.fastq, it runs well. Thanks a lot!

Jingyi

[2018-01-01 23:46] hyunhwaj commented on #4
Thanks for your report. I think people oftentimes use `.fq` suffix, so the suffix will be supported in next version of `SalmonTE`. I will close the issue and let you know once I will update it.

Thank you,

Hwan

[2018-01-02 03:50] wjyzidane commented on #4
Thank you!

[2018-01-06 02:04] wjyzidane opened #5 "reference"
I noticed there are two reference options. one is hs and another is dm. Are they for human and mouse?

[2018-01-06 06:06] hyunhwaj commented on #5
Yes, you're correct.

[2018-01-06 20:40] wjyzidane commented on #5
I see. Is that possible there is a version for the mouse in the future?

[2018-01-06 20:51] hyunhwaj commented on #5
Hello @wjyzidane,

It should be possible, and there are several requests for adding and customization of the new reference. I will start to work on adding the mouse reference in the next week and will let you know once it has been done. Please let me know if you have any additional request.

Thank you,

Hwan

[2018-01-06 23:13] wjyzidane commented on #5
Thanks so much! It would be very helpful!

[2018-01-12 17:26] hyunhwaj commented on #5
Hello @wjyzidane,

Please allow me a week more to add the reference. I do not have any chance to work on it because I have to spend a couple of days for a trip, and I was back to my town yesterday.

Thank you,

Hwan

[2018-01-12 19:16] wjyzidane commented on #5
No problem. Thanks for letting me know!

Jingyi

[2018-01-22 15:48] adomingues commented on #5
Hi @hyunhwaj,

thank for developing this tool - I am very much looking forward to test it on my data.

Regarding the references, I was wondering if you could provided some more detailed guidelines on how to produce them, expanding on your answer [here](https://github.com/hyunhwaj/SalmonTE/issues/3#issuecomment-354519806) instead of producing all the indexes for the species we (users) need. Simple

[2018-01-23 08:11] hyunhwaj commented on #5
Dear @wjyzidane and @adomingues,

As you wished, I have created references for mouse and zebrafish. Please re-download the tool (or pull the latest version of `git`) to use them. I also created [a document](https://github.com/hyunhwaj/SalmonTE/wiki/How-to-build-a-customized-index) which introduces how to create a customized reference index. Please feel free to report if you find anything is wrong

[2018-01-23 09:50] adomingues commented on #5
That was fast. Thank you @hyunhwaj!

Maybe I didn't phrase it well, but I was more concerned about repeated genes which (i) maybe harder to identify, and (ii) are relatively common in Zebrafish. Simple repeats I agree that removing them is best, since the quantification of their expression is not very informative  anyway (not that I am aware of).

Once again thank you and I will report back in a w

[2018-01-23 18:14] hyunhwaj commented on #5
You're welcome, @adomingues,

For me, it must be exciting I to perform SalmonTE for Zebrafish data. Could you introduce a nice RNA-Seq dataset to play? I also will appreciate you show an example "repeated genes" for Zebrafish.

Thank you,

Hyun-Hwan Jeong

[2018-01-23 18:23] wjyzidane commented on #5
Thanks Hyum-Hwan! I would give it a try!

Jingyi

[2018-01-25 08:43] adomingues commented on #5
Before the example, and in case you are not aware of, the teleost genome (Zebrafish) went through an ancient duplication during evolution ([1](https://www.zfin.org/ZDB-LAB-970408-67), [2](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC313070/)) which means their genome is little strange :)

As for examples, _tdrd6_ has three copies (here named a-c to make things easy):

- [Tdrd6a (Chr20)](http://www

[2018-01-25 08:55] adomingues opened #6 "small RNA-seq"
I did not find in the manuscript, but would it make sense to use `SalmonTE` to quantify expression of small RNAs? Or is there a reason not to do it?

My use case is unusual, since it would be quantification of which transposons are being targeted by piRNAs, so not a traditional gene/transcript expression quantification.

I am willing to test it, I just wanted to know if there any arguments against

[2018-01-25 21:32] hyunhwaj commented on #6
Hi @adomingues,

- Could you let me know how small those RNAs? If the length is larger than 30bp then you can use `SalmonTE` for the case. Otherwise, I think we must change the length of k-mer. I think it helps.
- To make sure, are your reference sequences pi-RNAs?

Thank you,

Hwan

[2018-01-25 22:10] hyunhwaj commented on #5
Thanks for the explanation @adomingues, for the dataset, I can wait until the data is published, but at any time I may need the data to figure out a problem if we have one, and I will ask you to have the data at that time.

Thank you,

Hwan

[2018-01-26 02:18] wjyzidane commented on #5
Hi Hyum-Hwan,

I have a quick question related to the reference. What does the specific number mean for the different repeats subfamily. Like HERV9, HERV15, what is the difference between the sequence of HERV9 and HERV15 and what is the rule they get these different number?

Thanks！
Jingyi

[2018-01-26 06:53] hyunhwaj commented on #5
Hello @wjyzidane, I don't find any certain rules to distinguish those elements by different numbers. In case of the HERV family, it seems that  I have attached links to the information how they give names of the repeats, hope it helps you: https://www.nature.com/articles/nrg2165-c1

By the way, I am curious updates of `SalmonTE` (index building and new index) works for you well. Please let me know

[2018-01-26 06:55] hyunhwaj commented on #5
Hello @wjyzidane, I don't find any certain rules to distinguish those elements by different numbers. In case of the HERV family, it seems that there are no straightforward rules for clarifications: [1](http://jvi.asm.org/content/77/19/10414/T2.expansion). I also have attached links to the information how they give names of the repeats, hope it helps you: [2](https://www.nature.com/articles/nrg2165

[2018-01-26 09:07] adomingues commented on #6
Hi @hyunhwaj,

In the range of 26-29 bp. I will adjust the k-mer size accordingly.

(sorry if this is getting too heavy/focused on the biogenesis of piRNAs)

The reference sequences will be the repeat annotations you provided earlier. Whilst primary piRNAs are derived from genomic clusters, these then get amplified in the ping-pong pathway through cleavage of single-stranded transcripts, mostly tr

[2018-01-26 19:52] wjyzidane commented on #5
Hi Hwan,

I am so sorry for the typo in the previous post. It seems that my typo correct system automatically changes the spelling. I apologize for this unpleasant feeling it bought for you.

I tried the mouse reference and it works well so far. Thanks so much for generating this reference and I would let you know if I find any problem in the future. Also thanks for the information about the ERV,

[2018-01-29 06:54] hyunhwaj commented on #5
@wjyzidane It's fine, and you don't need to apologize 😃! I am glad to hear that the reference is working, and I'd rather close this issue. Please open another issue if you have.

Best Regards,

Hwan

[2018-01-29 06:54] #5 closed

[2018-01-29 13:59] adomingues opened #7 "UnicodeDecodeError"
Hi Hwan,

there was an error when running SalmonTE on my sequencing data:

[code]
(tested on a single paired end sample to isolate the issue)

I traced the issue to the function `get_first_readid` and specifically to the read file call:
https://github.com/hyunhwaj/SalmonTE/blob/57597369a02c28e23e215338f38da6d6a489539e/SalmonTE.py#L47

Changing the encoding fixed it for me ([source](https://stackov

[2018-01-29 15:17] adomingues opened #8 "Empty ouput for fastq.gz files"
Sorry again Hwan but I am seem to be good at breaking things.

This time I would like to report an issue with using compressed fastq files. These are two unexpected errors or outputs when using my data which is in `fastq.gz` format. For debugging I have used the example data contained in `SalmonTE` because it works as described in the ` Readme` for uncompressed data. I then compressed the example

[2018-01-30 03:25] hyunhwaj commented on #7
Thanks for the reporting and sorry for your inconvenience, @adomingues. The issue happened because there is an issue with `.fastq.gz` files and this is also related to #8. I uploaded fixed-script to the GitHub repository.

[2018-01-30 03:28] hyunhwaj commented on #8
This looks a different issue to #7, but the origin of the problems are same, so I labeled this issue as *duplicated*. Now I uploaded a patch of the problem.

Thanks again,

Hwan

[2018-01-30 20:14] adomingues commented on #8
Thank you for the quick reply, but sadly the problem does not appear to have been solved for me. Bellow is what I did to test.

First updated the SalmonTE:

[code]

Then compressed the files as previously, and ran the example:

[code]

This is a different error so I checked what is insided the folder `/tmp/tmpz9hnjo93/` and it contains (incomplete?) symbolic links to some of the data files:

[code

[2018-01-30 20:32] hyunhwaj commented on #8
@adomingues, Could you let me know which version of `snakemake` you have? For the second command, I have the log message and have a non-empty `EXPR.csv` in another machine. If your version is lower than 4.x.x then can you update version of `snakemake`, and please rerun it?

[code]

Thank you,

Hwan

[2018-01-30 20:36] hyunhwaj commented on #8
@adomingues, For the issue with your first command, did you see the same thing once you remove the `/tmp/tmpz9hnjo93/` directory? It must help me to figure out the problem is. The problem is not appearing in my environment, so it's tough to figure out on my side.

Thanks again,

Hwan

[2018-01-31 08:46] adomingues commented on #8
Sorry for missing the information in the previous report. I realized that it was running the background, but did not pay much attention to it. The version is `4.5.0` which I believe is the latest. The system is:

[code]

It persists even after deleting the tmp folder.

Some **good news**. I decided to test it on my laptop (previously it in a server):

[code]

I repeated everything as before - inst

[2018-01-31 10:13] adomingues commented on #8
Tested on the debian server. Still return the tmp related error. It could be a localized error, basically unique to that server, so maybe don't bother too much with it unless someone else reports a similar error? I was able to generate the results for my project by uncompressing the `fastq.gz` files, but I am happy to continue testing if that helps.

[2018-02-07 05:00] hyunhwaj commented on #8
Dear @adomingues,

Sorry, I recently didn't have any chance take a look your problem. I also eager to solve this problem, and I want to see error/log messages like [this].(https://github.com/hyunhwaj/SalmonTE/issues/8#issuecomment-361720251)

Can you also tell me which shell is you're using now?

Best Regards,

Hwan

[2018-02-09 12:32] adomingues commented on #8
Sorry for the delay - I have quite busy preparing a poster (that will contain data generated with SalmonTE :))

logs:

[code]
And

[code]

[2018-03-21 02:36] YiweiNiu opened #9 "build index from species which is not available in Repbase"
Hi Hwan,

Thanks for this nice tool! I want to try it on my RNA-seq data but the species (Rhesus) is not included in Repbase. So I want to create a `FASTA` file for `SalmonTE`.

I've seen this tutorial [How to build a customized index](https://github.com/hyunhwaj/SalmonTE/wiki/How-to-build-a-customized-index) but sill don't know how to do. I'm not familiar with [RepeatModeler](http://www.repeatmas

[2018-03-21 05:43] hyunhwaj commented on #9
I am happy to hear you are interested in `SalmonTE`, @YiweiNiu.

As you informed, there is no an exact category of Rhesus in Repbase, but I think we can use FASTA file of **Primates** in your case, and the FASTA of the species contains [LTR5_RM](http://www.girinst.org/protected/repbase_extract.php?access=LTR5_RM) - a Long terminal repeats from Rhesus macaque (but only one specified repeat were fou

[2018-03-21 05:48] hyunhwaj commented on #7
Hello, @adomingues,

It's been a while I asked you about those issues. I had a super busy with other projects, but now I will have a chance to take the issues soon.  I am wondering you still have an issue with**encoding**. If you don't have any then I can close this issue.

Thank you,

Hyun-Hwan Jeong

[2018-03-21 05:51] hyunhwaj commented on #8
@adomingues, This is tough to realize the issue, I may need more messages to figure this out. If you are fine and want to solve the issue with me, I will create a branch to generate more logs, and this will be helpful for the troubleshooting. Please let me know if are okay.

Hyun-Hwan Jeong

[2018-03-21 05:55] YiweiNiu commented on #9
Thank you for your quick reply and helpful suggestions!

I'm not an expert of transposon and just want to check the expression of TEs in my RNA-seq data quickly :)

Your tool seems great, but now I stuck in building index step. I'll try your suggestions first. Thanks again!

[2018-03-21 06:01] hyunhwaj commented on #9
@YiweiNiu If this doesn't need to be very accurate, then you'd better use the human reference now, the human reference contains TEs of Primates, so you can quickly check. I am planning to add a reference of Rhesus to `SalmonTE`, and this will be included once I decide which solution (among three solutions above) is sufficient. No worries about you are stuck.

Best Regards,

Hyun-Hwan Jeong

[2018-03-21 06:18] YiweiNiu commented on #9
That is very kind of you.

So when it doestn't need to ve very accurate, I can just use a adjacent species or a higher taon, is that right? Or this depends on the stituation (the distribution of TEs in these species)?

[2018-03-21 06:25] hyunhwaj commented on #9
I guess so but need a check.

Hyun-Hwan Jeong

[2018-03-21 07:34] YiweiNiu commented on #9
Hi Hyun-Hwan,

Does `SalmonTE` only recognize `.fastq` and `.fastq.gz` filename extension?
[code]

In the second run, the `CTRL` group was not been processed.

Bests,
Yiwei Niu

[2018-03-21 07:39] hyunhwaj commented on #9
You're correct. This is related to #4, and currently `SalmonTE` supports '.fastq' and '.fastq.gz'. Please use '.fastq' or '.fastq.gz' now, and please let you add your question or comments to #4 because the file extension problem is not relevant to the current issue page.

Thank you,

Hyun-Hwan Jeong

[2018-03-21 07:46] YiweiNiu commented on #9
Sorry, I didn't view all other issues.

[2018-03-21 13:10] adomingues commented on #7
Hi @hyunhwaj,

As far as I recall this issue is now gone. You can close it.

[2018-03-21 13:10] #7 closed

[2018-03-21 13:11] adomingues commented on #7
I just did it for you :)

[2018-03-21 13:13] adomingues commented on #8
I am happy to help @hyunhwaj. I might take a little longer than usual to report back because I am quite busy, but it should take little time on my part to run the tests. Go ahead and create the new test branch.

[2018-03-21 21:13] hyunhwaj commented on #8
Thanks in advance, @adomingues. I will let you know once I am ready! Taking a longer time will be no problem.

Best,

Hyun-Hwan Jeong

[2018-05-02 19:47] wwliao opened #10 "Error when running "SalmonTE.py test""
Hi there,

Thanks for developing SalmonTE! It's really fast and suitable for large-scale project.
But I got an error when running `SalmonTE.py test`:

[code]

[Here](https://support.bioconductor.org/p/83850/#83851) is a possible solution I found. I hope it's helpful.
By the way, I use R version 3.4.1.

Best,
Wen-Wei

[2018-05-02 19:57] hyunhwaj commented on #10
Dear @wwliao,

I am happy to hear you like the SalmonTE! To solve the issue properly, I may need your input, so could you answer my questions if you are fine?

* How many replicates were used in your experiments?
* Which type of analysis did you try to run? Was it regression or differential expression analysis?
* Did you generate a custom reference library?
* If you don't mind, can you send your `

[2018-05-02 20:37] wwliao commented on #10
Thanks for your prompt reply!
I used the following commands to run SalmonTE:

[code]

- 8 replicates for each condition
- I'd like to do the differential expression analysis
- No, I used the reference provided by SalmonTE
- I just sent you the files

Best,
Wen-Wei

[2018-05-02 21:27] hyunhwaj commented on #10
@wwliao, This problem happened because my code did not handle the sample names with a hyphen, but not I have fixed the code, so I believe you are fine now.

Please `pull` the changes and run the `test` mode again.

Best,

Hyun-Hwan

[2018-05-03 01:59] hyunhwaj commented on #10
You’re welcome! Thanks for the reporting!

[2018-05-31 14:38] wjyzidane opened #11 "UnicodeDecodeError"
Hi hyunhwaj,

Previously, SalmonTE works fine for me but recently when I run the program, it gives the error as below and any comments?

~/software/SalmonTE-master/SalmonTE.py quant --reference=m S17_R1_001.fastq.gz S17_R2_001.fastq.gz

![image](https://user-images.githubusercontent.com/34944811/40788647-8deb4dd6-64be-11e8-92fe-019eb453d670.png)

Jingyi

[2018-05-31 14:40] wjyzidane commented on #11
Btw, if I use this command, it gives another error:

~/software/SalmonTE-master/SalmonTE.py quant --reference=m S17_R1_001.fastq.gz

![image](https://user-images.githubusercontent.com/34944811/40788827-f439af38-64be-11e8-86f2-387dc3cbceac.png)

[2018-05-31 16:14] hyunhwaj commented on #11
Hello @wjyzidane,

The issue seems to be related to #7, and I am wondering which version of SalmonTE you are using. If your SalmonTE version is not up-to-date then please update to the latest version. Otherwise, you can modify a part of `SalmonTE.py` as below:

[code]

Best Regards,

Hyun-Hwan Jeong

[2018-05-31 16:21] hyunhwaj commented on #11
The second issue, can you check the `EXPR.csv` has been generated and show me the list of files/directories are stored in `SalmonTE_output` directory?

Hyun-Hwan Jeong

[2018-05-31 18:31] wjyzidane commented on #11
Btw, if I uncompress the file and run SalmonTE again, it will generate the files as below:

![image](https://user-images.githubusercontent.com/34944811/40800720-263cce50-64df-11e8-99db-cf2d0a0729bf.png)

but still give the error as below:

![image](https://user-images.githubusercontent.com/34944811/40800743-38d76c28-64df-11e8-94de-e21c36218353.png)

Does the file generate completely?

[2018-05-31 19:38] hyunhwaj commented on #11
You must see two directories named by `S17_R1_001` and `S17_R2_001` in your `SalmonTE_output` directory if your run has been done without any problems before merging quantification result. Can you see those directories?

Also, I am suspecting you have an issue with a python package. Can you check you are having any error messages when you run below?

[code]
Hyun-Hwan Jeong

[2018-05-31 19:57] wjyzidane commented on #11
If I run the pair end unzip file, it gives the error as below, no SalmonTE_output folder generated. I suspect it is because the file name is not correct?

![image](https://user-images.githubusercontent.com/34944811/40804974-dc0a8280-64ea-11e8-9780-9af8a8e1f3b1.png)

If I run the single end unzip file, it gives the error as I reported in the last post. There is SalmonTE folder with a dir called S17

[2018-06-01 05:37] hyunhwaj commented on #11
@wjyzidane Oh, my bad, `import pandas pd` has to be `import pandas as pd`, and I am thinking this problem is because of the missing of `numpy` package, so could you reinstall `numpy` and `pandas`. If you are using `pip` then you can run below command lines for the reinstallation:

[code]

Hope this helps you.

Hyun-Hwan Jeong

[2018-06-01 16:00] wjyzidane commented on #11
Hi Hyun-Hwan,

Thank you so much for your detailed explanation. I figured it out. I have updated my python path because I try to use some package from other people’s folder where the numpy there seems incomplete. I just delete those from my python path and everything is back to normal. Sorry for bothering you.

Best,
Jingyi

[2018-06-01 16:03] wjyzidane commented on #11
Btw, but I still think the name recognition is a problem for pair-end file:

![image](https://user-images.githubusercontent.com/34944811/40850909-db43c43e-6593-11e8-9c27-114d14a6cb2a.png)

[2018-06-01 16:21] hyunhwaj commented on #11
Glad to hear that, @wjyzidane !

By the way, I am wondering how you can resolve the first problem. Could you briefly explain what you did to do?

Thank you,

Hyun-Hwan Jeong

[2018-06-01 16:21] #11 closed

[2018-06-01 16:56] wjyzidane commented on #11
Actually, I think there are four problems.

1 numpy package is missing. I solved it by clean the path.
2 unicode error, I solved it by modifying the script as you suggested.
3 the pair filename problem. it is unsolved as I mentioned in the last post
4 the compressed file problem. There is no error but no output as well as shown below.

![image](https://user-images.githubusercontent.com/34944811/40

[2018-06-01 22:00] hyunhwaj commented on #11
* Regarding the problem 3, could you open a new issue and explain about this?
* I am wondering which version of `SalmonTE` you are using. What you are able to see when you run `SalmonTE.py --version`?

Thank you,

Hyun-Hwan Jeong

[2018-06-02 00:02] wjyzidane opened #12 "pair-end files"
I found SalmonTE works well when I give it either R1 fastq or R2 fastq. But it gives error as below when I provide both:

![image](https://user-images.githubusercontent.com/34944811/40867954-69b27cb4-65d6-11e8-8954-3762782d57bf.png)

I am using SalmonTE 0.3.

[2018-06-03 05:30] hyunhwaj commented on #12
There was an error if prefixes of file names of two paired-end FASTQ not same (before `_001` in that case), and this has been resolved at 86b1e77d24caa5c59de4bee59f6625cdc0975f81. Please pull the latest version of `SalmonTE`.

Sorry for your inconvience and many thanks for the reporting!

Hyun-Hwan Jeong

[2018-06-03 18:01] wjyzidane commented on #12
Got it. Thanks!

[2018-06-04 17:03] hyunhwaj commented on #4
@wjyzidane,

I have committed 1950aaf7098c3bc39448d51e8b9711ee89dd28e9, andn now `SalmonTE` supports `fq` and `fq.gz` extensions. Please let me know if it does not work for you.

Hyun-Hwan Jeong

[2018-06-04 17:03] #4 closed

[2018-06-04 17:37] wjyzidane commented on #4
Thanks so much!

Jingyi

[2018-06-05 02:54] hyunhwaj commented on #6
@adomingues,

It has been a while you commented regarding my questions. I am wondering `SalmonTE` does work for your case. I also have another question to follow up this issue. As I understood, there are any sequence of transposable elements inside of your sequence data, do I understand this correctly? Does your data contain piRNA sequence?

Many Thanks!

Hyun-Hwan Jeong

[2018-06-05 03:01] hyunhwaj commented on #8
@adomingues

I am curious you still have the same issue with the command, and could you put logs here with the latest version of `SalmonTE` again?

Thank you,

Hyun-Hwan Jeong

[2018-06-05 07:36] adomingues commented on #8
Hi @hyunhwaj, thank for your patience. I have tested the new version SalmonTE on the sever, that was giving us the problems, and as far as I can tell it is working

[code]

And the log:

[code]

I think you can close the issue now. Thank you so much for this.

[2018-06-05 07:46] adomingues commented on #6
Hi @hyunhwaj , to be honest since the approach is untested for small RNA-seq, and I had tons of projects coming my way (still do), I ended up not playing with it and stuck to the [tool](https://github.com/nskvir/RepEnrich) I was previously using for this type of analysis.

Yes to both. piRNAs are just small RNA sequences that target tranposons with roughly 100% complementarity. They can also be se

[2018-06-05 07:47] hyunhwaj commented on #8
Great! Thanks for your valuable feedback.

Hyun-Hwan Jeong

[2018-06-05 07:47] #8 closed

[2018-06-09 17:30] bgruening opened #13 "Bioconda support"
To make it easier to install SalmonTE a Bioconda package (https://github.com/bioconda/bioconda-recipes) would be great.

[2018-06-11 03:17] hyunhwaj commented on #13
Dear @bgruening,

Thanks for interest this tool! This must be a great idea, but I can't start to work on this now because I am out of town. I will take a look the manual which you have attached to this issue soon.

Best Regards,

Hyun-Hwan Jeong

[2018-06-11 06:30] bgruening commented on #13
Cool, thanks a lot: https://bioconda.github.io/contribute-a-recipe.html

[2018-06-15 01:51] wjyzidane commented on #12
Hi, I found it still output nothing for the pair-end files:

![image](https://user-images.githubusercontent.com/34944811/41446327-f48dac32-701c-11e8-8419-750585081939.png)
![image](https://user-images.githubusercontent.com/34944811/41446341-ffc6caa2-701c-11e8-83cc-e503db3d03b6.png)

I am using SalmonTE 0.3

[2018-06-15 01:52] wjyzidane commented on #12
Also, could find a way to support the name like *_r1.fq instead of _R1.fq? Thanks!

[2018-06-15 20:16] hyunhwaj commented on #12
@wjyzidane,

I tried to replicate the issue, using a pair-ended fastq file with the same name, and this works for my case. I am wondering you are using the latest version of the `SalmonTE`. Could you let me know what you can see if you execute the command?

[code]

Here is my output, and this has to be the same as: `MD5 (SalmonTE.py) = a8d89b2822199b0cd4c599309631e1d6`

Furthermore, the case of `*

[2018-06-19 14:59] wjyzidane commented on #12
It works after I pull out the newest version from the git repository! Thanks!

[2018-06-19 16:24] bgruening commented on #13
Any news @hyunhwaj :)

[2018-07-03 14:50] egeogretmen commented on #13
I can work on making the Bioconda package. As a starter a [release](https://help.github.com/articles/creating-releases/) on Github would be much appreciated @hyunhwaj . This allows to have a stable url for downloading the repository as a zip.

Thanks!

[2018-07-05 16:13] hyunhwaj commented on #13
@bgruening I merely had a chance for this issue, but as @egeogretmen commented, we can work on this soon.
@egeogretmen this will be helpful! I will prepare a release soon.

[2018-07-05 20:14] narojass commented on #9
Hi, I have the same problem, I need to create an index for a species that is not in Repbase. I have the result of RepeatModeler but the program does not recognize the fasta file.

Would it be possible to update the documentation?

[2018-07-06 14:35] hyunhwaj commented on #9
Hello @narojass,

Could you explain a bit more about that? Did you mention that the fasta file from RepeatModeler cannot be accepted in SalmonTE?

Best,

Hyun-Hwan Jeong

[2018-07-06 15:11] narojass commented on #9
@YiweiNiu, yes, SalmonTe says: "Input file is not to FASTA file". I think it must be the name of the sequence, how can I get the names of hierarchy of classes?

[2018-07-06 18:52] hyunhwaj commented on #9
@narojass, Can you share me the FASTA file you have created?

Thanks,

Hyun-Hwan Jeong

[2018-07-06 19:06] narojass commented on #9
this is the Fasta file

El vie., 6 jul. 2018 a las 14:52, Hyun-Hwan Jeong (<notifications@github.com>)
escribió:

--
Natalia A. Rojas S.
Bioinformatician
Center for genome regulation (CGR)
Av. Blanco Encalada 2085 Piso 3
Fono:+56 (02) 2978 0584

[image: Descripción: Descripción: Descripción: Descripción: Descripción:
Descripción: Descripción:
http://www.fabreguesbicicletas.es/mailings/img/naturale

[2018-07-06 19:35] hyunhwaj commented on #9
@narojass, I did not have a file, could you directly send the file to hyunhwaj@bcm.edu?

Thank you!

Hyun-Hwan Jeong

[2018-07-27 15:47] Puputnik opened #14 "Output directories must be flagged with directory()"
Hello, i tried to run SalmonTE both on example data and on my own data, and the tool is failing.
This is the terminal output:
`SalmonTE.py quant --reference=hs '/home/filippo/SalmonTE/example/CTRL_1_R1.fastq' '/home/filippo/SalmonTE/example/CTRL_1_R2.fastq'
2018-07-27 17:42:44,688 Starting quantification mode
2018-07-27 17:42:44,688 Collecting FASTQ files...
['/home/filippo/SalmonTE/example/CTRL_1

[2018-07-27 16:03] quirze commented on #14
Hello,
I've experienced the same issue, also both on my own data and on the example data of the repository.
It looks like there might be a bug in the file `snakemake/Snakefile.paired`.
I would also appreciate some help. Thank you.

[2018-07-27 18:52] hyunhwaj commented on #14
@Puputnik and @quirze,

Can you show me the list of files in `SalmonTE_output` directory using commanding `ls SalmonTE_output/*`? What is your version of `snakemake` (you can look it up using `snakemake -v`)?

Hyun-Hwan Jeong

[2018-07-28 22:22] hyunhwaj commented on #14
@quirze what about the version of the `snakemake`? I am also wondering how many FASTQ files are in your `/home/qrovira/bin/SalmonTE/example_single` directory. Do you only have a pair of FASTQ files? But I am seeing `2018-07-27 18:11:56,177 Collected 4 FASTQ files.` It would be helpful you show me the output of `tree /home/qrovira/bin/SalmonTE/example_single` and head of each fastq file in the dire

[2018-07-28 22:53] quirze commented on #14
When I check the version of `snakemake` I get an error as if I haven't got installed:
[code]
However, I did run `pip3 install snakemake` with no errors.

Regarding to the FASTQ files, I used the ones in the example to test pair-end reads and then I took only the first mate to try the single-end mode:
[code]
Is there a problem with the snakemake installation?

[2018-07-29 09:55] frankyan commented on #14
I also encountered this problem. My problem was caused by Snakemakes version 5.2. Since version 5.2, directory outputs have to marked with `directory`. Then I installed Snakemakes version 5.1.5. Everything is ok now.

[2018-07-29 20:35] hyunhwaj commented on #14
@frankyan thanks for reporting that. Yes, you're right. There is an incompatibility between the `SalmonTE` rules and the latest version of `snakemake`. I will look for the issue.

@quirze and @Puputnik, could you please uninstall your current `snakemake` installation and install the `snakemake 5.1.5` to see whether it solves your issue?

Thank you all!

Hyun-Hwan Jeong

[2018-07-29 21:03] quirze commented on #14
Indeed, after uninstalling `snakemake` and installing the version `5.1.5` now I get no error when running `SalmonTE`.
[code]
Thank you for the help.

[2018-07-29 21:38] Puputnik commented on #14
Thank you Very much! Tomorrow morning i Will check if it works.

Thank you again!

Il 29/Lug/2018 23:03, "Quirze" <notifications@github.com> ha scritto:

[2018-07-30 09:09] Puputnik commented on #14
working also for me!

Thank you very much.

2018-07-29 23:38 GMT+02:00 filippo martignano <filippo.martignano@gmail.com>
:

[2018-07-30 18:55] hyunhwaj commented on #14
@Puputnik and @quirze glad to hear you've solved the issue, and thanks to @frankyan, again! I will look for it how to fix the issue for the latest version of `snakemake`.

Best,

Hyun-Hwan Jeong

[2018-08-03 10:15] jwalser opened #15 "Customise Annotation"
Hey there,

I am uncertain with the annotation step for building a customised reference and I was wondering if you could help me gaining confidence in what I do?

We created a reference FASTA file as you described it using the following fasta-headers:

In a next step we run the indexing using the following command:
`SalmonTE.py index --input_fasta=BdTE.fasta --ref_name=bd --te_only`

The indexing

[2018-08-04 06:52] hyunhwaj commented on #15
Hello @jwalser, thanks for your interest and sorry for my poor documentation for the custom index.

Yes, you need to have your own `cladeds_extended.csv`

You can do both, but I recommend to make your own file.

The first one is correct, and the names of your TE/repeats sequences in fasta file should be somewhere in the first column. The second one is the clade of the TE, this is used for the cust

[2018-08-06 11:02] bioysu opened #16 "Fail at SalmonTE test"
I tried to run SalmonTE with command as following:
python3.6 /pfs1/liuguanghui/suyao/tools/SalmonTE/SalmonTE.py test --inpath=/pfs1/liuguanghui/suyao/project/lncRNA/output2/SalmonTE/HOMOP7_H9P7/Output/SalmonTE_output --outpath=/pfs1/liuguanghui/suyao/project/lncRNA/output2/SalmonTE/HOMOP7_H9P7/Output/SalmonTE_statistical_test --tabletype=csv --figtype=png
I got error like this:
Error in mutate_imp

[2018-08-06 16:10] hyunhwaj commented on #16
@bioysu,

Can you zip the output folder and send it to hyunhwaj@bcm.edu?

Thank you,

Hyun-Hwan Jeong

[2018-08-06 16:46] jwalser commented on #15
Dear Hyun-Hwan Jeong,

thank you for the swift help. Everything regarding the extension is clear now.

Another question: Do you have any (detailed) documentation about the output files?

Thanks again for all the help!

[2018-08-06 17:44] hyunhwaj commented on #15
@jwalser, my pleasure! We don't have any documents regarding the output files, but I will upload this soon.

Thank you,

Hyun-Hwan Jeong

[2018-08-06 17:44] #15 closed

[2018-08-06 17:46] hyunhwaj opened #17 "Documentations"
Like #15, several people pointed out the documentation in the repository is not enough Especially,

* Custom Annotation
* Output files description

[2018-08-07 05:15] hyunhwaj commented on #16
@bioysu, as I wrote in the email, there is no phenotype/trait information for each sample in the `phenotype.csv`, so that is the reason you could see the error. I will try to add an error message to avoid confusion about this case.

Thanks for your reporting.

Hyun-Hwan Jeong

[2018-08-14 19:45] arpitpanda01 opened #18 "SalmonTE quant outputs empty EXPR.csv file when used with mm reference"
I ran the following command:
**SalmonTE.py quant --reference=mm lane1.adarsg1_a.1.fastq lane1.adarsg1_a.2.fastq
with 2 fastq files from my experiment.**

I am using SalmonTE 0.3 and snakemake 5.1.5. My output file EXPR.csv just contains the string "TE" and nothing else.

I got the following message with no errors:
**2018-08-14 15:35:21,905 Starting quantification mode
2018-08-14 15:35:21,905 Colle

[2018-08-14 19:53] hyunhwaj commented on #18
Hi @arpitpanda01 ,

can you change the name of the files to "lane1_r1.fastq" "lane1_r2.fastq" (only contains a comma before the file extension) and re-run it again?

Thank you,

Hyun-Hwan Jeong

[2018-08-14 20:51] arpitpanda01 commented on #18
@hyunhwaj Fixed the issue! Seemed like it was just a naming issue. Thanks so much!

[2018-08-14 20:51] #18 closed

[2018-08-14 21:08] hyunhwaj commented on #18
You're welcome! I will find a way to handle the naming issue without any file name modification.

Hyun-Hwan Jeong

[2018-08-26 22:49] wescaiju opened #19 "Failed SalmonTE example run"
I followed the example code and ran
`SalmonTE.py quant --reference=hs ~/programs/SalmonTE/example/`

However, I got this error:
`KeyError in line 3 of /home/wc376/programs/SalmonTE/snakemake/Snakefile.paired:
'index'
  File "/home/wc376/programs/SalmonTE/snakemake/Snakefile.paired", line 3, in <module>
Will exit after finishing currently running jobs.
2018-08-26 18:23:14,773 Will exit after finish

[2018-08-26 23:12] hyunhwaj commented on #19
Hello @wescaiju,

I can't generate the same message using the command-line. One thing I am suspecting is the version of `snakemake` is `5.2.2`, and `SalmonTE` is not guaranteed to run with the latest version of `snakemake`. Can you downgrade `snakemake` to 5.1.5 and rerun it again? Please refer this link if you don't know how to downgrade the version of `snakemake`. https://github.com/hyunhwaj/Sal

[2018-09-25 20:24] oronoc1210 opened #20 "Input own reference file?"
Hello,

I'm looking to quantify TE expression in Sorghum bicolor, and am currently using TEtranscripts. SalmonTE sounds like a very promising alternative, but was disappointed to find that it only supports Homo sapiens, Mus musculis, Drosophila melanogaster, and Danio rerio.
Is it completely impossible to add functionality for inputting your own reference, should it be in the correct format?
I cur

[2018-09-26 20:09] hyunhwaj commented on #20
Hello @oronoc1210,

Thanks for you are interested in SalmonTE, and I am sorry to hear you are having an issue with. I should mention to you is SalmonTE does not need the genome sequence and GFF3. It only needs TE annotation (sequence of TE), and there is a wiki page shows how to create a customized index: https://github.com/hyunhwaj/SalmonTE/wiki/How-to-build-a-customized-index

In other words, yo

[2018-10-05 21:01] oronoc1210 commented on #20
Dear Hyun-Hwan Jeong,

Could you give some input as to whether my TE annotation fasta is formatted correctly? Looking at the wiki page, you want headers to be in the form
">name        family/class"
with name and family/class being tab-separated.
My TE fasta headers look like this:
">EnSpm-N1_SB	DNA/CMC-EnSpm"
">Os4_05_6L	LTR/Os4_05_6L"
">L1-7_SBi	LINE/L1"
etc

When I try to build the index, I get

[2018-10-09 03:32] hyunhwaj commented on #20
Hello @oronoc1210 ,

Sorry for your inconvenience. Your formatting is right, and there was a silly mistake in `line 194`, and this has been resolved in a31dabe82342b96276084606b0e2775145a03c7b.  Can you try this again? Please pull this repository before you run the command.

Thank you,

Hyun-Hwan jeong

[2018-10-10 20:04] oronoc1210 commented on #20
Dear Hyun-Hwan jeong,

The correction has solved this issue, but now I'm getting another issue down the line when the salmon index is being built from my fasta file within SalmonTE.

It appears to be passing something different than my fasta file as the argument for salmon index building, as I can successfully build a salmon index by just running
`salmon index -t salmon index -t Sbicolor_313v31_re

[2018-10-11 05:29] hyunhwaj commented on #20
Hello @oronoc1210,

I found this was because your class annotations are from RepeatMasker, not Censor. As you guess, SalmonTE creates new fasta file to create SalmonTE index. If an class annotation of a TE in fasta file is not in the first column of https://github.com/hyunhwaj/SalmonTE/blob/master/scripts/clades_extended.csv, SalmonTE discard the TE sequence from the index building. Since your all

[2018-10-16 20:57] hyunhwaj commented on #20
Dear @oronoc1210

I am wondering you are still having the problem. Can you update me about it?

Many Thanks!

Hyun-Hwan Jeong

[2018-10-16 21:04] #16 closed

[2018-10-30 06:34] tantrev opened #21 "Request: add extended clades to references"
Hello!  I was looking through SalmonTE's references and noticed that their clades don't seem to have all of those listed in the "clades_extended.csv" file.  It would just be really nice if all of the clades could be included in all of the references. :)

[2018-11-05 14:47] hyunhwaj commented on #21
Hello @tantrev,

I am traveling, so I could not reach you promptly. Could you inform which clades I am missing?

Thank you,

Hyun-Hwan Jeong

[2018-11-05 14:48] hyunhwaj commented on #20
I close this issue because it is been a while since I have asked.

[2018-11-05 14:48] #20 closed

[2018-11-05 14:49] hyunhwaj commented on #19
I close this issue because it is been a while since I have asked, but no response.

[2018-11-05 14:49] #19 closed

[2018-11-05 14:49] #6 closed

[2018-11-05 14:50] #9 closed

[2018-11-07 02:37] wjyzidane opened #22 "mapping rate"
Hello,

I wonder if there is a way to pull out the mapping rate of each sample from SalmonTE?

[2018-12-02 04:41] sumeetpalsingh opened #23 "Counts data are not integers"
Thanks for developing the SalmonTE tool. It is working wonderfully even on my humble laptop. Just as comparison, I could not run any other TE counting tool as they all needed STAR, and I do not have a server or a machine with 32 Gb RAM.

I have one question on the output file. I see that the count data is not integer. I get decimal values. Could you please explain how 'counts' are generated.

I am

[2018-12-05 07:38] hyunhwaj commented on #23
Dear @sumeetpalsingh,

1. SalmonTE uses [Salmon](https://github.com/COMBINE-lab/salmon), as a core algorithm of the quantification. [It *estimates* read counts](https://salmon.readthedocs.io/en/latest/file_formats.html#quantification-file), so it is possible to have non-integer numbers as the read counts. Based on my experience it is okay if you *round* the non-integer numbers for the further anal

[2018-12-05 07:39] hyunhwaj commented on #22
@wjyzidane

Sorry for the late response. There is a manual way to get the mapping rate, but I plan to support this feature!

Thanks for your patients.

Hyun-Hwan Jeong

[2018-12-05 14:55] wjyzidane commented on #22
Thanks and look forward!

Sent from my iPhone

[2018-12-20 00:13] hyunhwaj commented on #22
@wjyzidane,

Now it reports the mapping rate, please pull the latest version of SalmonTE.

Thank you,

Hyun-Hwan Jeong

[2018-12-20 00:13] #22 closed

[2018-12-20 00:13] #23 closed

[2018-12-20 00:15] hyunhwaj commented on #14
Now `SalmonTE` can work with the latest version of `snakemake`!

Hyun-Hwan Jeong

[2018-12-20 00:15] #14 closed

[2018-12-20 00:15] #17 closed

[2018-12-20 02:12] wjyzidane commented on #22
Thanks! I will try it.

[2019-01-03 13:49] bihuimel opened #24 "what is the expected mapping rate?"
Thanks for updating the tool. I am curious what the expected "percent mapped" should be for mouse tumor samples? I am getting anywhere from 2-4%, which seems quite low considering there are a lot of TEs in the genome. Is this expected or do I need to adjust any settings?
Thanks!

[2019-01-07 14:32] vasilislenis opened #25 "Installation issue"
Hello and a happy new year!

I have installed SalmonTE and seems everything went well. However, when I tried to run the example in order to test it, I am receiving the following error:

`2019-01-07 14:29:47,305 Starting quantification mode`
`2019-01-07 14:29:47,305 Collecting FASTQ files...`
`2019-01-07 14:29:47,306 The input dataset is considered as a single-end dataset.`
`2019-01-07 14:29:47,306

[2019-01-07 18:19] hyunhwaj commented on #25
@vasilislenis,

This looks like the error is because of the file `/tmp/tmp0vsal2pn/x.fastq` exists in your machine, so can you purge `/tmp/tmp0vsal2pn/` and execute SalmonTE again? Can you also tell me what exact command line you used and which OS you are using?

Thank you,

Hyun-Hwan Jeong

[2019-01-07 18:22] hyunhwaj commented on #24
@bihuimel, If you are using RNA-Seq in your analysis, the mappability is normal range. RNA-Seq reads tend to be from exon regions, and a few of them are from intronic regions, which TE tend to be located. Therefore, you don't need to do any adjustment for your analysis.

Best Regards,

Hyun-Hwan Jeong

[2019-01-07 18:22] #24 closed

[2019-01-08 10:22] vasilislenis commented on #25
Hi Hyun,

Thank you very much for answering me.

I have purge the /tmp/tmp0vsal2pn/ folder but the error still remains.

I am running it on an HPC cluster (linux OS) with R/3.5.1, python/3.7.0 and anaconda/3

The command that I am trying is for the testing example:

SalmonTE.py quant --reference=hs example

Many thanks,
Vasilis.

[2019-01-08 19:43] hyunhwaj commented on #25
@vasilislenis Can you pull this github repository and run the command again? I did a minor change and believe it works with you.

Best Regards,

Hyun-Hwan Jeong

[2019-01-14 17:23] #25 closed

[2019-02-06 09:01] juanb001 opened #26 "SnakeFile Single Issue"
Hi,

I'm having an issue with single-end data on the latest version of SalmonTE and latest version of snakemake.

<img width="1288" alt="screen shot 2019-02-06 at 1 02 41 am" src="https://user-images.githubusercontent.com/47381639/52330709-f00be000-29aa-11e9-9b24-c0fa3baa6014.png">

[2019-02-06 16:15] hyunhwaj commented on #26
@juanb001

Can you show me the list of the file names in the trimmed directory?

Thank you,

Hyun-Hwan Jeong

[2019-02-06 22:56] juanb001 commented on #26
Here it is!

<img width="885" alt="screen shot 2019-02-06 at 2 55 23 pm" src="https://user-images.githubusercontent.com/47381639/52379420-4dda0f80-2a1f-11e9-8788-045f70d82b7c.png">

[2019-02-07 00:33] hyunhwaj commented on #26
@juanb001 Thanks for reporting this. This error was because a rule had been omitted in the Snakefile. I have fixed and committed it - 600fe2e300e11dad90d5051a65a6813d6afea748. Can you pull the github repository run this again?

Thank you,

Hyun-Hwan Jeong

[2019-02-07 00:34] #21 closed

[2019-02-07 01:06] juanb001 commented on #26
I re-downloaded and re-run, but now I'm getting this error:

<img width="1273" alt="screen shot 2019-02-06 at 5 06 04 pm" src="https://user-images.githubusercontent.com/47381639/52384262-8c78c580-2a31-11e9-8547-0a0597e477b3.png">

[2019-02-07 01:10] juanb001 commented on #26
When I change directory to where my FASTQ files are (the /trimmed folder) and run SalmonTE from there, I believe it is working. However, the above issue happened when the current directory was the Desktop and I linked to the /Desktop/Senescence_Fibro_trimmed folder when I ran the program.

[2019-02-07 01:22] hyunhwaj commented on #26
Can you try it in the same directory with a different output directory (change sen_quant to another)?

Thank you,

Hyun-Hwan Jeong

[2019-02-07 01:25] juanb001 commented on #26
By same directory, do you mean run it again from the Desktop (like in the error box) but change sen_quant to sen_quantifications (for example)?

[2019-02-07 01:27] hyunhwaj commented on #26
Exactly!

[2019-02-07 01:47] juanb001 commented on #26
The last run (from the folder with the FASTQ files ran successfully).

However, now that I change directory to Desktop I get "Failed to read /Users/juanb/Desktop/Senescence_Fibro/trimmed/". Running from the FASTQ folder gives the same error.

[2019-02-07 01:52] juanb001 commented on #26
It's working now. The problem I think was, I had the folder from the successful run in the FASTQ folder. SalmonTE had issues with that when it was reading the FASTQ files, I think.

[2019-02-07 01:59] hyunhwaj commented on #26
@juanb001 glad to hear that, but I want to figure out a couple of things.

* What does the successful run mean? Do you mean a run has been completed without any error or a run is/was running?
* Can you see `.snakemake` (a hidden directory) where you run a command? If you can see, then can you remove/move the folder to other and run the problematic command again?
* Can you move `sen_quant` folder t

[2019-02-07 02:00] hyunhwaj commented on #26
@juanb001 > However, now that I change directory to Desktop I get "Failed to read /Users/juanb/Desktop/Senescence_Fibro/trimmed/". Running from the FASTQ folder gives the same error.

If it is possible then can you make a screenshot or do a copy-and-paste the text message here?

[2019-02-07 02:36] juanb001 commented on #26
The second error is:

<img width="771" alt="screen shot 2019-02-06 at 6 22 59 pm" src="https://user-images.githubusercontent.com/47381639/52386771-407f4e00-2a3c-11e9-9660-2224fc8b88e5.png">

Which seems to be caused by the extra files that aren't FASTQ in the same directory as FASTQ files. If I delete sen_quant_complete, SalmonTE runs successfully, otherwise it does not:

<img width="851" alt="scr

[2019-02-07 03:04] hyunhwaj commented on #26
SalmonTE uses DESeq2, and the latest version of DESeq2 no longer supports single replicates. One possible solution is downgrading the version of DESeq2, and you can do it with the following command line in R:

[code]

[2019-02-07 03:05] hyunhwaj commented on #26
@juanb001

You even did not see the folder when you use `ls -alh`?

[2019-02-07 18:01] hyunhwaj commented on #26
@juanb001 Does the DESeq2 solution help you?

[2019-02-07 20:28] juanb001 commented on #26
Thanks for the help! I tried to run the code you provided but it sadly gives an error, so I can't run single replicates for now., but this is a limitation with R.

<img width="928" alt="screen shot 2019-02-07 at 12 27 30 pm" src="https://user-images.githubusercontent.com/47381639/52440731-c8646700-2ad3-11e9-8dcf-3b61b47a301c.png">

[2019-02-07 20:59] hyunhwaj commented on #26
@juanb001 Have you installed homebrew in your machine? If then, `brew install gfortran` and run the code will help you.

[2019-02-08 01:54] juanb001 commented on #26
I believe it's already installed, but I still got the error (on a Mac at work). I repeated the test on my computer running linux and did the single replicate comparison without any issues. Based on others' comments it seems I need to change the version of R on the mac. I'll figure it out. In any case, thanks for the help!

[2019-02-11 02:35] mbk0asis opened #27 "quant mode error "name 'directory' is not defined""
Hi. I'm getting an error saying  "name 'directory' is not defined".
It seemed to related to output directory, but changing names and paths of output directory didn't solve the problem. What could be the cause of this error?

[code]

[2019-02-11 05:57] hyunhwaj commented on #27
@mbk0asis what is your snakemake version? If the version is not latest, then please upgrade snakemake. SalmonTE no longer supports old-version of snakemake..

[2019-02-11 07:43] mbk0asis commented on #27
Seemed like the 'pip cache' directory was disabled due to a permission problem, and the 'snakemake' upgrade was not applied to the system. That solved the problem, but NOW I've got a new error. Would you check this out?
Thank you.

[code]

[2019-02-11 08:00] hyunhwaj commented on #27
@mbk0asis I found there is an issue with the files contains many dots. The quickest solution would be to change the file name `d0_R1.fq.gz` and `d0_R2.fq.gz`. I may need to spend the time to find a better way of dealing with the file name.

[2019-02-11 09:02] mbk0asis commented on #27
It worked after I replaced all the dots!

감사합니다.

[2019-02-11 18:08] #26 closed

[2019-02-19 08:06] SalimMegat opened #28 "Salmon TE does not load all the fastq"
Hi,
I have been trying to run Salmon TE on a Linux server without success. The installation seems fine since I can call SalmonTE.py without errors. However, when I try to run "Salmon.py quant" it is only loading 1 fastq in the folder I am pointing at (below is the command). However the folder actually contains 36 fastq files. Is it a problem with the naming of the files ? (See below the name of th

[2019-02-19 08:33] hyunhwaj commented on #28
Hi @SalimMegat,

I am wondering if you see the same error we the following command:

[code]

Hyun-Hwan Jeong

[2019-02-19 08:43] SalimMegat commented on #28
It seems really random. I reran the command : SalmonTE.py quant --reference=mm --outpath=Salmon_out_quant --num_threads=16 ~/fusDNLS_fastq/ and now it is collecting 36 fastq files but still handle them as single end while they are paired ...

[2019-02-19 09:13] SalimMegat commented on #28
Hi,

- For the first point I must say that I have no idea. I am using a private superserver set up by the university but I do not know if it is a network storage ?
- I used the full path instead of ~/fusDNLS
- Here is what I see with the zcat command:

(snakemake) [smegat@hpc-login1 fusDNLS_fastq]$ zcat SRR6924174_1.fastq.gz | head -8
@SRR6924174.1.1 HWI-D00436:365:CAVYPANXX:2:1101:1477:1848 lengt

[2019-02-19 17:11] hyunhwaj commented on #28
@SalimMegat, One thing I guess is, there is a problem when SalmonTE parses FASTQ files. SalmonTE works fine with if your FASTQ files contain [Illumina Sequence identifiers](https://en.wikipedia.org/wiki/FASTQ_format#Illumina_sequence_identifiers) but are not guaranteed works with [NCBI Sequence identifiers](https://en.wikipedia.org/wiki/FASTQ_format#NCBI_Sequence_Read_Archive). I will take a look

[2019-02-19 17:24] hyunhwaj commented on #28
@SalimMegat, during that time I am solving the problem. I believe this will be a quick and dirty solution for your case. Can you redownload a couple of samples (3-4) using `fastq-dump` with `--origfmt` parameter and run SalmonTE again? Doing this and reporting the result will help me, but it is up to you.

Hyun-Hwan Jeong

[2019-03-12 07:30] AlicePsyche opened #29 "mapping strategy"
Hi,

Thanks for your great tool ~

I have read the website and your recent published  PSB paper but still could not understand the mapping strategy for repeats (Sorry I am not familiar with bioinformatics). I have some simple questions:
1. How does SalmonTE deal with multiple mapping reads? or only use unique mapping reads for count.
2. How does SalmonTE deal with the  multi-overlapping reads ( a

[2019-03-13 06:58] hyunhwaj commented on #29
Thanks for your interests, @AlicePsyche!

SalmonTE uses Salmon as a core algorithm of the quantification, and the algorithm includes stochastic models such as SCVB0 or EM to get rid of the read ambiguity. Thus, SalmonTE will consider all reads for the TE quantification.

I think you are asking what if a read can belong to a gene or a TE. Is it correct? Based on my observation TE sequence are not p

[2019-03-14 04:23] AlicePsyche commented on #29
Thanks for your detail explanation. I would read the Salmon paper. Thanks ;)

[2019-03-14 06:10] #29 closed

[2019-03-25 13:22] ebirn opened #30 "No version or release tagged"
README file mentions version 0.4 however this is not tagged in the repository.

Please tag/release your versions here on Github too, so that we can provide reproducible software installations for our scientists.
Today's clone of master branch is not necessarily the same as yesterdays.

Best,
Erich

[2019-03-25 20:28] Papareddy commented on #28
hi ,

Quantification is ultra fast as the title deserves.

I am running salmonTE on my local computer .And gave the full path

But i have ran into the same problem . My paired end data is not readable.

**PairedEnd reads are not able to be read.**

nbm-gmi-39:SalmonTE ranjith.papareddy$ SalmonTE.py quant --reference=Ath --num_threads=12 BC.Col.1_1.fastq BC.Col.1_2.fastq BC.nrpd3a.1_1.fastq BC.nrpd

[2019-03-26 04:40] hyunhwaj commented on #28
@Papareddy, I am sorry to hear you have some trouble. Can you replace all dots which precede the extension to `-`? e.g. `BC.Col.1_1.fastq` to `BC-Col-1_1.fastq`?

Thank you,

Hyun-Hwan Jeong

[2019-03-26 07:56] hyunhwaj commented on #30
Thanks for the suggestion, and now I have added a tag for the v0.4 https://github.com/LiuzLab/SalmonTE/releases/tag/v0.4

Best,

Hyun-Hwan Jeong

[2019-03-26 07:56] #30 closed

[2019-03-26 09:22] Papareddy commented on #28
Hyun-Hwan Jeong, Thanks for the quick response.I really appreciate. I did work after tye suggested changes (aha).

Ranj

[2019-03-29 05:27] rrcutler commented on #12
It seems that recognizing paired-end files may be left out when they are compressed?

`SalmonTE.py --version
SalmonTE 0.4
SalmonTE.py quant --reference=mm --outpath=SalmonTE_output1 --num_threads=30 /home/UTHSCSA/cutlerr/Data/Kalamakis_2019_RNA-Seq/SRA/Bulk_RNA-Seq_Data/Trimmed_reads/Paired/temp1/SRR7290434_R1.fq.gz /home/UTHSCSA/cutlerr/Data/Kalamakis_2019_RNA-Seq/SRA/Bulk_RNA-Seq_Data/Trimmed_re

[2019-03-29 05:29] hyunhwaj commented on #12
@rrcutler Can you provide me the first few lines of each FASTQ file here?

Thank you,

Hyun-Hwan Jeong

[2019-03-29 05:35] rrcutler commented on #12
[code]

[code]

Furthermore, I get the same problem when running with the unzipped files
[code]

[2019-03-29 07:25] hyunhwaj commented on #12
@rrcutler I have fixed the problem and created a branch for the test your case. Can you please clone the branch and test whether my fix works for you?

[code]
Thank you,

Hyun-Hwan Jeong

[2019-03-29 07:35] hyunhwaj commented on #28
So does it work after you changed the file names?

[2019-03-29 13:24] rrcutler commented on #12
Things are workings great now - Thanks!

[2019-03-29 15:15] #12 closed

[2019-04-01 21:14] tantrev commented on #21
Hello!  So sorry for the delay.  The clades I'm most interested in are the DNA transposons - it would just be really nice if they could be in the reference for all species (similar to TEtranscripts).

[2019-04-29 17:06] FabianDK opened #31 "Count data for analysis"
Thanks for developing salmonTE and congrats to your recent papers.

I have been playing around with your tool and was wondering about the count output data:

Is it correct that the counts in the output file can be directly used for analysis/plots without further normalisation? Or should the TPM output values be used for that?

Many thanks!

[2019-04-29 17:12] hyunhwaj commented on #31
Hello @FabianDK,

It depends on your parameter for the count matrix will be generated. In other words, if you use `--exprtype=count` SalmonTE will perform the analysis with the count, and `TPM` will be used otherwise. Whether which `exprtype` is selected, normalization will be performed for the analysis. I would recommend you to use `count` instead of `TPM` if your `condition` is binary, and it is

[2019-04-30 14:18] FabianDK commented on #31
Thanks for your reply.

If I understand your R-code correctly, you are using lm on the estimated count data.
What I am wondering is: are the count data already corrected for library size (or other biases)?

What I had in mind was taking the count output from "SalmonTE.py quant" to do my own lm/anovas and plots in R. It is just not clear to me if the estimated counts should be further corrected or

[2019-04-30 14:49] hyunhwaj commented on #31
As you've figured out, there is no normalization in `do.lm` function, and `SalmonTE` does not any normalization before the analysis. Therefore, if you have estimated counts and want to perform `lm` or `anova`, you will need to perform normalization. Do you have any suggestion of the count correction?

Hyun-Hwan Jeong

[2019-05-01 10:10] FabianDK commented on #31
Thanks for clarifying this. Could this also be an issue for the statistics with DESeq? If one library has a systematically higher TE expression than another, then would DESeq wrongly assume that this is technical rather than biological? Thus, the sizeFactor in the DESeq correction could be wrong resulting in many false negatives? As far as I know, DESeq assumes that a majority of genes (or TEs in

[2019-05-17 11:05] pillailab opened #32 "snakemake error - FileNotFoundError: [Errno 2] No such file or directory: EXPR.csv"
Hello,
I am getting the following error which running the quant function
SalmonTE.py quant --reference=hs --outpath=~/scratch60/SF3B1/SRP061203/SRX1098126/ --num_threads=8 $fq1 $fq2

I tried changing snakemake version to 5.1.5 but error repeats. I am running using a conda environment, not sure if that it is relevant.
thanks !
Manoj

2019-05-17 07:01:02,225 Starting quantification mode
2019-05-17 0

[2019-05-20 14:09] hyunhwaj commented on #32
Hello @pillailab,

It seems that the error is similar to #27. What does $fq1 and $fq2 contains?

Hyun-Hwan Jeong

[2019-05-20 17:18] pillailab commented on #32
Hi Hyun-Hwan,
Thanks - i did try different versions of snake make (the latest version was erroring out without starting snakemake and installed 5.2).
fq1 and fq2 are aliases for fastq files
fq1=/home/mp758/scratch60/SF3B1/SRP061203/SRX1098126/fastq/SRX1098126_1.fastq.gz
fq2=/home/mp758/scratch60/SF3B1/SRP061203/SRX1098126/fastq/SRX1098126_2.fastq.gz
Manoj

[2019-05-21 02:07] hyunhwaj commented on #32
@pillailab

Can you try `--outpath=/home/mp758/scratch60/SF3B1/SRP061203/SRX1098126/` instead of  `--outpath=~/scratch60/SF3B1/SRP061203/SRX1098126/`?

Thank you,

Hyun-Hwan Jeong

[2019-05-21 17:05] pillailab commented on #32
@hyunhwaj ,
That seems to have fixed it and i got the output files. Thank you !
Manoj

[2019-05-21 17:50] hyunhwaj commented on #32
@pillailab, good to hear that! I will try to find the solution for how SalmonTE can handle your initial command line.

Kind Regards,

Hyun-Hwan Jeong

[2019-05-21 17:50] #32 closed

[2019-05-28 01:37] shishimin commented on #14
Hi， hyunhwaj
When i uninstalled snakemake and install the version 5.1.5 now I get also get the same error when running SalmonTE like the following:
[ssmin@SKLMG10 ADcase]$ snakemake -v
5.1.5
[ssmin@SKLMG10 ADcase]$ SalmonTE.py quant --reference=hs --outpath=SalmonTE/ --num_threads=6 /zs32/home/ssmin/softwares/SalmonTE-master/example/CTRL_1_R1.fastq
2019-05-28 09:30:58,384 Starting quantification m

[2019-06-10 13:34] Puputnik commented on #31
Hello everyone.
I completely agree with FabianDK, i see some problem that can arise from the fact that with SalmonTE the user is analysing the TEs only.
It is easy to draw incorrect conclusions if the relative expression of all the TEs families vary considerably among patients.
In my opinion, the preferable way to resolve this would be to make a reference that includes both the TEs sequences and t

[2019-06-17 21:26] hyunhwaj commented on #31
Dear @Puputnik and @FabianDK,

Thanks for your interests for our tool, and sorry for the late response. Based on @Puputnik's suggestion, I have created an index and uploaded it to a public space. You can download the index here(`hs_all.fa`):  [(Click the Box link)](https://bcm.box.com/s/42zkeu34em20pvq2rpwjoi4mv0g47mju), and place/decompress it to the `reference` folder in `SalmonTE` directory. I

[2019-06-19 11:43] Puputnik commented on #31
thank you @hyunhwaj
I will give a try as soon as possible.
So you merged a transcriptome reference and the TE reference?
Can you please tell me which transcriptome reference did you use?
So basically there is no difference in running SalmonTE or Salmon+"the reference you made", right?

Thanks a lot!

Best Regards

[2019-06-19 13:11] Puputnik commented on #31
By the way @hyunhwaj can you please provide an alternative link for downloading the index?
I don't have a box account and I can't make one.
Or alternatively you can just upload it on git-hub.

Thanks!

[2019-06-19 13:25] hyunhwaj commented on #31
Hello @Puputnik,

Yes, it is the same thing as you suggested.

I used [the latest version of cDNA reference of ENSMBL](ftp://ftp.ensembl.org/pub/release-96/fasta/homo_sapiens/cdna/),  I did not filter out any of transcripts from the reference. Let me know if you have any better suggestion.

That is correct.

My bad! The link was not correct, and I have corrected. You can download it now without lo

[2019-06-20 08:17] SalimMegat opened #33 "salmonTe"

[2019-06-20 08:22] SalimMegat commented on #33
Hi,
I have been using salmonTE foe quite some time and I wanted to apply the tool for large scale analysis. However, I tried to used salmon TE on 695 fastq which he seems to detect (see below) in the folder but after I only count 60 output folders. It seems like it just took some random sample and ran the tool on it. Is there any limit in the number of fastQ that can be processed at the same time

[2019-06-20 08:57] SalimMegat commented on #33
Never mind its still running :(

[2019-06-20 08:57] #33 closed

[2019-06-20 09:08] hyunhwaj commented on #33
No problem! Let me know if you have any question!

[2019-06-20 13:53] SalimMegat opened #34 "Error using SalmonTE"
Hi again,

I am actually still facing an issue with the mouse data I have. When I try to run on a set of fastq files downloaded from NCBI I get the following error:
(snakemake) [smegat@hpc-login1 scripts]$ ./mouseSalmonTE.sh
2019-06-20 15:48:40,434 Starting quantification mode
2019-06-20 15:48:40,435 Collecting FASTQ files...
2019-06-20 15:48:40,435 SalmonTE assumes that '/b/home/medecine/smegat/f

[2019-06-20 15:04] SalimMegat commented on #34
Now it detects 36 fastq but process them as single end....

<img width="1603" alt="Capture d’écran 2019-06-20 à 17 02 35" src="https://user-images.githubusercontent.com/43888158/59859633-61a66280-937d-11e9-9a21-f39b4d87480c.png">
<img width="1860" alt="Capture d’écran 2019-06-20 à 17 02 43" src="https://user-images.githubusercontent.com/43888158/59859638-6408bc80-937d-11e9-86dc-ac41d8f3faf2.pn

[2019-06-20 15:36] hyunhwaj commented on #34
Can you let me know which SRA dataset you have used and how you to download?

Thank you,

Hyun-Hwan Jeong

[2019-06-20 16:33] SalimMegat commented on #34
I directly downloaded the fastq from https://www.ebi.ac.uk/ena/browse/read-download. The files seem to be ok since i have been able to map them with STAR without any problem..

Salim.

[2019-06-20 17:52] hyunhwaj commented on #34
@SalimMegat got it, but I also need to know what your dataset ID is. Or, if you have any script to download then can you share to my email?

Thank you,

Hyun-Hwan Jeong

[2019-06-21 06:29] SalimMegat commented on #34
Hi,

Actually on this run I downloaded the SRA with the script below and converted to fastq

[wget_files.txt](https://github.com/LiuzLab/SalmonTE/files/3313252/wget_files.txt)

Salim

[2019-06-24 09:48] hyunhwaj commented on #34
Sorry for the late response, I will be busy until Tuesday. I can update after that day. Does it work for you?

Thank you,

Hyun-Hwan Jeong

[2019-06-26 07:39] SalimMegat commented on #34
Hi,

I finally decided to run it as single end reads and it worked although I'd really like to understand why this is the only set of fastq where salmonTE does not recognize paired-end reads.
I have another question regarding output and downstream analysis. SalmonTE gives count for different TE families but my question is more related on how you tracked these TE down afterwards ? Are you using a b

[2019-06-28 17:27] hyunhwaj commented on #34
Hello @SalimMegat,

I would say this is not the issue of your side, and it certainly the issue of SalmonTE. I suspect there are some incompatibilities between the inside of the FASTQ files and SalmonTE. But it certainly can be fixed. I will give you some update soon.

I don't have any bed file, but I have used annotation from Dfam(https://dfam.org/) for the visualization and additional analysis. I

[2019-07-01 20:35] hyunhwaj commented on #34
@SalimMegat, I need to ask how you have converted SRA files to FASTQ files. Can you share your command for the conversion?

Thank you,

Hyun-Hwan Jeong

[2019-07-02 13:42] SalimMegat commented on #34
@hyunhwaj I have downloaded the SRA using the following command:
wget ftp://ftp-trace.ncbi.nih.gov/sra/sra-instant/reads/ByRun/sra/SRR/SRR692/SRR6924174/SRR6924174.sra -P /b/home/medecine/smegat/

and I converted it to fastq using this command:
while read x
do

fastq-dump -I -v --split-3 --gzip /b/home/medecine/smegat/white_20month_FC_fastq/$x.sra

done < sra_list.txt

Do u want me to share a smal

[2019-07-02 13:51] hyunhwaj commented on #34
@SalimMegat Thanks for providing this, and I will look into it!

Best,

Hyun-Hwan Jeong

[2019-07-06 13:43] fripeki opened #35 "Creation of index with fasta"
Hello, Yesterday I 've installed successfully salmonTE but I need to create a new index because I have a library of transposable elements of my species. The problem is that I cannot create the index because the names of the classes and species of elements in the fasta file don't satisfy the requisites. The library is manually curated. How can solve this problem?

[2019-07-08 13:24] fripeki commented on #35
HI, sorry again, could I send you the fasta file, so you can tell me if is it usable for the analysis, ora suggest me how to modify it? I don't have idea how can make it usable. I'm waiting for your help. Thank you again and congrats

[2019-07-08 14:30] hyunhwaj commented on #35
@fripeki, Yes please send your fasta file with telling me what type of species you are using.

Thank you,

Hyun-Hwan Jeong

[2019-07-10 07:54] fripeki commented on #35
I've send you the mail. Thank you
Regards

[2019-07-25 19:18] broochpawN opened #36 "Confusion about mapping reads to repetitive elements."
Hi,

Thank you for your efforts to generate and maintain this good package, as well as the wiki documents about repbase. May I have a question about this?

Based on my understanding, the **repetitive elements** will be under consideration during the process. But I found that in the **hg.fa** file in the 'scripts' directory, **besides Homo sapiens**, there are **other species like Mammalia, Eutheri

[2019-07-25 23:19] hyunhwaj commented on #36
Correct me if I am wrong, but I believe some repeat elements were inherited from ancestors (or Primates). In particular, *AluYa8*, what you mentioned in your issue, is in the human genome. Here is an example showing the repeat was found in the human genome: https://genome-euro.ucsc.edu/cgi-bin/hgc?c=chr7&l=65847413&r=65847483&o=65847313&t=65847623&g=rmsk&i=AluYa8

In other words, the human genome

[2019-07-30 21:40] #36 closed

[2019-08-01 17:05] broochpawN commented on #36
Hi Hyun-Hwan, sorry for the late reply. I appreciate your reply and your kind help.

I agree with you that the human genome has some repeats similar to the primate or other mammalian genomes. Actually, I just have a concern:

I am using STAR to map the reads to the repetitive elements. There is a parameter **--outFilterMultimapNmax** (default is 20 in STAR) to determine how many loci are allowed f

[2019-08-08 18:51] hyunhwaj commented on #36
@broochpawN,

I guess this could be a different story. What is your reference sequences? Is it a genome or a set of repeats?

You are free to use `hs.fa` file in the Github, but please be sure it is originally from RepBase.

Thank you,

Hyun-Hwan Jeong

[2019-08-08 18:51] #35 closed

[2019-08-08 18:51] #31 closed

[2019-08-12 21:25] shreya1704 opened #37 "run_salmon_fq and EXPR.csv file not found error"
I am using SalmonTE 0.4 with default quant function and getting following error.

<img width="2559" alt="Screen Shot 2019-08-12 at 5 18 30 PM" src="https://user-images.githubusercontent.com/33744933/62899476-d8306280-bd25-11e9-9ee6-e1b3296e37b2.png">

[2019-08-12 21:51] hyunhwaj commented on #37
Hello @shreya1704,

* What was the command-line you used when you saw the error?
* What can you see if you run `/Users/chenlab/SalmonTE/salmon/darwin/bin/salmon`?

Thank you,

Hyun-Hwan Jeong

[2019-08-13 14:30] shreya1704 commented on #37
Hi Hyun-Hwan,

1. I was just running SalmonTE.py quant --reference=hs example when I got the error.

2.
<img width="555" alt="Screen Shot 2019-08-13 at 10 27 58 AM" src="https://user-images.githubusercontent.com/33744933/62950010-48d29000-bdb5-11e9-9594-980fab3281fc.png">

Thanks.

[2019-08-13 14:33] hyunhwaj commented on #37
Please follow the instruction below (this is from `README.md`);

**Q. I am using `SalmonTE` on `macOS` and `salmonTE` fails to run on `quant` mode with error messages:**

[code]

**A.** You may have a problem to run `salmon` which is an essential tool for the pipeline. You may install [Threading Building Blocks library](https://www.threadingbuildingblocks.org/download) to solve the problem. If you

[2019-08-15 17:58] shreya1704 commented on #37
It is working now. Thank you

[2019-08-15 17:58] #37 closed

[2019-08-20 20:05] broochpawN commented on #36
@hyunhwaj

Hi! My reference sequences are just repeats bc I want to remove the reads from repetitive elements. I plan to map the reads to repeats first and remove the mapped ones, and then use the unmapped ones for the following analysis.

Thanks for your kind share of the data!

Best,
Sihan

[2019-11-09 05:51] juanb001 opened #38 "Extract Reads similar to TE sequences"
Hi,

Would it be possible/easy to incorporate an option where SalmonTE outputs a file containing the reads used to generate the TE count file for each fastq file? I want to manually inspect the reads and see if they really are similar to TE sequences, but I can't do that at the moment.

Thank you!

[2019-11-19 21:33] hyunhwaj commented on #38
@juanb001 The function has not been implemented, but I can let you know we are working on it. I will update once we finished it.

Thank you,

Hyun-Hwan Jeong

[2019-11-28 12:54] juanb001 commented on #38
Thanks for the update; look forward to it!

[2019-11-29 14:54] nrius opened #39 "condition problems"
Hi!
quant created a condition.csv file, but since in the README says that it should be called control.csv I made the modifications and copied condition.csv into control.csv.  I get this error, and I think it's telling me there is something wrong with the condition.csv file.

[code]
Both control.csv and condition.csv look like this:

[code]
Also, in the command line I specified `--conditions=contro

[2019-11-29 19:17] hyunhwaj commented on #39
Hi @nrius, there was an error on README.md (`control.csv` should be replaced as `condition.csv`, sorry for the confusion), and I have corrected it. Did you include `SampleID,control` to the first line of the file? It might not work if you didn't include the line in the file. And again, all the sample information has to be inside of `condition.csv'.  If it does not solve your problem then, please s

[2019-12-02 08:58] nrius commented on #39
Hi,
The condition.csv file was ok, but it turns out the names of the fastqs were too long, I shortened them to 10 characters with only one underscore and it worked perfectly.

Thanks for your reply,

Nuria

[2019-12-02 08:58] #39 closed

[2019-12-02 09:00] hyunhwaj commented on #39
@nrius, I believe this was not supposed to happen, so can you share the name of files, EXPR.csv, and condition.csv to hyunhwaj@bcm.edu if you don't mind? It should be helpful to improve this tool.

Thank you,

Hyun-Hwan Jeong

[2019-12-02 09:26] nrius commented on #39
Hi Hyun-Hwan Jeong
Sure, in the attachment, you can find the initial EXPR and condition files
(before the change name).
Hope it helps.

Best,

Nuria

Nuria Rius Camps

El lun., 2 dic. 2019 a las 10:00, Hyun-Hwan Jeong (<notifications@github.com>)
escribió:

[2019-12-20 13:16] savytskanatalia opened #40 "fasta files as input"
Thank you very much for your tool!
I had a question, if SalmonTE can take fasta files with raw reads as input, instead of fastq?
I am currently working on simulated data, and output of the simulator is always .fasta. Salmon itself seems to be taking .fa as raw input for quasimapping, but trying to run SalmonTE with my files results in error for collect_mappability. So I was wondering, if the error

[2019-12-20 18:12] hyunhwaj commented on #40
Dear @savytskanatalia,

We don't plan to support FASTA files. But I believe this will help you: http://seqanswers.com/forums/showthread.php?t=58790

Best Regards,

Hyun-Hwan Jeong

[2019-12-23 11:13] savytskanatalia commented on #40
Thank you for your reply!

[2019-12-23 11:13] #40 closed

[2019-12-30 14:04] savytskanatalia commented on #28
Good afternoon,
I seem to have the same (or very similar) problem. I have 12 files of 6 paired-end samples; indicating a directory, containing all files, results in SalmonTE identifying single .fq single-mate file
![image](https://user-images.githubusercontent.com/43849297/71584281-3bbeff00-2b12-11ea-86eb-022f92422687.png)

File names in the 'fastq' subdirectory are:
`sample01_R1.fq.gz  sample01_R

[2019-12-30 18:55] hyunhwaj commented on #28
Can you share the files? I guess there are some problems with your fastq file formatting. You don't have to share the entire files, and the first few lines of each file should be fine.

Thank you,

Hyun-Hwan Jeong

[2020-01-02 11:59] savytskanatalia commented on #28
Here is the header for one of the files (the rest have same formatting):
![image](https://user-images.githubusercontent.com/43849297/71662289-3ac7e080-2d51-11ea-8fc9-1119722418cd.png)

Thank you,

Natalia.

[2020-01-02 17:31] hyunhwaj commented on #28
@savytskanatalia, SalmonTE automatically detects FASTQ pairs by the first line of FASTQ files, and it assumes that the first line (the identifier of head) is correctly formed. I believe SalmonTE handles the FASTQ file whose format is one of the formats on the [Wikipedia page](https://en.wikipedia.org/wiki/FASTQ_format).  So, I recommend you to follow the one of the formats.  Let me know if you nee

[2020-01-07 20:10] hyunhwaj commented on #28
@savytskanatalia do you still have the problem?

Hyun-Hwan Jeong

[2020-01-27 15:45] savytskanatalia commented on #28
@hyunhwaj I edited the fastq`s readnames and quantification step worked like a candy!
Thank you for help very much!

Best,
Natalia.

[2020-01-27 16:12] savytskanatalia opened #41 "SalmonTE test condition problem?"
Good evening!
I am running into problem with SalmonTE test.

I used command
`SalmonTE.py test --inpath salmonte --outpath salmonte_out --tabletype csv --analysis_type DE --conditions=control,condition`

And my condition.csv is edited to be:

The head of my EXPR.csv is:

The MAPPING_INFO.csv :

My issue seems to be same or similar to the one in Issue #39 ....
SalmonTE version I use is SalmonTE 0.4

[2020-01-27 19:16] hyunhwaj commented on #41
@savytskanatalia can you change the first row of `condition.csv` to `SampleID,condition`?

Thank you,

Hyun-Hwan Jeong

[2020-01-28 09:44] savytskanatalia commented on #41
@hyunhwaj yes, I tried it.
When I do this, the run proceeds a bit further, but execution is still halted:

[2020-01-28 21:13] hyunhwaj commented on #41
@savytskanatalia, It seems that there is a problem with DESeq2, but I can't replicate the problem.  If you don't mind sharing the data, can you share your data with hyunhwaj_at_bcm.edu so that I can figure out the problem?

Thank you,

Hyun-Hwan Jeong

[2020-01-29 12:22] savytskanatalia commented on #41
@hyunhwaj , I think it is indeed DESeq2 thing and may be connected to including/excluding genic expression data in the analysis.

I will mark the issue as a resolved, because the technical issue was resolved by your kind suggestion!
Thank you for your help again!

[2020-01-29 12:22] #41 closed

[2020-03-04 15:29] OnlyHigh commented on #6
Hello there,
I was wondering about this exact same issue,
Anyone has took a look?

Cheers,
Luis Alfonso.

[2020-03-18 11:28] BenjaminSchwessinger commented on #35
Hi,
I have a related question. Is there a tutorial or some information of how to generate once own reference from non-model organism TEs. We should be able to get this coded out if there were some information of how references are build and what formats are needed. Thanks!

[2020-03-23 09:08] brunmer4 commented on #28
Hi @hyunhwaj,

it seems I ran into a similar issue as @savytskanatalia.

Here is the header for one of my files:
@MG00HS15:1192:HKGTHBCXY:1:1101:2123:1999 1:N:0:ACTGAT
NTGAGTTTAGCAAGGTGGCAGGATACAGGATCAACATACAAACATCAATTGCATTTCTATATTCTAGCAATAAACATGTGGAAATTGAAATTAAAAATTCA
+
#<DDDHIIIIIIIIIIIIIIIIHIIIIIHHIIIIIIIHIIIIIIIIIIHHIIIIIIIIIIIIIIIGHIIIIIIHIIHIIIGIIIIIHIIHIIIHIHHIIHH
@MG00HS15:1192:HKGTHBCXY:1

[2020-03-27 05:47] hyunhwaj commented on #28
@brunmer4  Can you share more details on your FASTQ files? Are they paired-end? If it is then, can you share the first few lines of another pair for this sample?

Thank you!

Hyun-Hwan Jeong

[2020-03-27 09:48] brunmer4 commented on #28
Hi @hyunhwaj,

the files are indeed paired end. Here are the first lines of one of the pairs (there were 5 pairs in the folder):

#file1: negcon1a_1.fq

@MG00HS15:1192:HKGTHBCXY:1:1101:2123:1999 1:N:0:ACTGAT
NTGAGTTTAGCAAGGTGGCAGGATACAGGATCAACATACAAACATCAATTGCATTTCTATATTCTAGCAATAAACATGTGGAAATTGAAATTAAAAATTCA
+
#<DDDHIIIIIIIIIIIIIIIIHIIIIIHHIIIIIIIHIIIIIIIIIIHHIIIIIIIIIIIIIIIGHIIIIIIHIIHIIIGIIIIIHI

[2020-05-16 03:37] ferygood opened #42 "Obtain the chromosome (start/end) position after running SalmonTE.py quant"
Hello,

Is there a way to know the chromosome position (e.g. chr1 145233 145561) where my reads map to after running `SalmonTE.py quant`?

Because after running `SalmonTE.py quant`, I can only view the TPM or count in the EXPR.csv. I want to know which start/end position do the TEs actually map to the reference.

Thank you for your help!

[2020-05-18 12:28] hyunhwaj commented on #42
Hello @ferygood,

The goal of the SalmonTE is to quantify the overall abundance of each TE from a sample, and it doesn't report the position. The reason SalmonTE only quantifying the overall abundance is that RNA-seq has an instinct problem to locate the position because of the mapping ambiguity issue.

Best,

Hyun-Hwan Jeong

[2020-05-25 04:30] #42 closed

[2020-06-12 09:59] #27 closed

[2020-06-12 10:06] mbk0asis opened #43 "One of input files can be paired to multiple files"
Hi,
I have paired fastq files for 60 samples in a directory "TRIMMED", then I ran

`SalmonTE.py quant --reference=mm TRIMMED/`

I got following error.

[code]

Fastq file names are like these
[code]

I remove any delimiter in the sample name just in case file name cause a bug.
What could be the problem here?

Thank you~

[2020-06-18 06:52] ferygood commented on #42
Hello Hyun-Hwan

Thank you for your detailed reply! SalmonTE is really a fast tool to quantify TEs from RNA-seq data and I appreciate your work.

Best,
Yao-Chung Chen

[2020-07-23 11:27] hyunhwaj commented on #43
Thanks for reporting this. It would be helpful if you print the first line of each file of fastq files to resolve the problem.

Best,

Hyun-Hwan Jeong

[2020-07-23 11:52] hyunhwaj commented on #28
@brunmer4 sorry for the late response. I checked the file, and the files should be considered as a paired-end.

[code]

Did you test with the latest version of SalmonTE?

Thank you,

Hyun-Hwan Jeong

[2020-08-04 17:30] #28 closed

[2020-08-14 06:38] CPTPaso opened #44 "How can I obtain the location where reads map to TEs"
Hi,

is there a way to check the genomic location where the TEs identified by SalmonTE are located? Then I could easily load the bams into IGV and validate SalmonTE findings and would not have to run a RT-qPCR in the first place.

Thanks for your help!

[2020-08-14 19:40] hyunhwaj commented on #44
Duplicate of #42

[2020-08-14 19:50] hyunhwaj commented on #44
Hi @CPTPaso, there a couple of ways you can lookup the potential loci:

1. Using databases like [dfam](https://dfam.org/), [RepeatMasker](http://www.repeatmasker.org/), or [RepeatBrowser](https://repeatbrowser.ucsc.edu/)
2. You can [blat](https://genome.ucsc.edu/cgi-bin/hgBlat?command=start) with the TE sequence.

Please be aware that SalmonTE only quantifies overall TE abundances can't extract th

[2020-08-15 02:59] #44 closed

[2020-08-17 19:55] AlicePsyche opened #45 "Repeats annotation"
Hello SalmonTE developers,

Possibly a stupid question but I can't find out in the documentation. May I ask what is the genome version SalmonTE is using for zebrafish? danRer7 or danRer10? (`--reference dr`).

What's more, how can I know the exact location of the repeats. It seems that SalmonTE only reports the repeat name. For example, after quantification, I found that BEL-40_DRe-LTR is activate

[2020-10-16 10:29] ftabaro opened #46 "Cannot run SalmonTE in Snakemake pipeline"
Hello,

I get an error about locking the results dir when running SalmonTE in Snakemake pipeline. I forked the repo and got it to run by disabling SalmonTE directory locking. Should I submit a pull request?

[2020-10-16 15:51] hyunhwaj commented on #46
@ftabaro,

Can you provide more details about the error to clarify what the exact issue is?

You can also send a pull request if you figured out how to resolve it.

Thank you,

Hyun-Hwan Jeong

[2020-10-19 08:57] ftabaro commented on #46
Sure!

So, SalmonTE runs a Snakemake process after starting up. Snakemake creates lock files in the working directory it is running. This is to prevent other Snakemake processes to mess with the input/output files of the first process. In my use case, this feature prevents me to wrap SalmonTE in another Snakemake layer. To disable the locking mechanism, one can pass a command line parameter (`--no

[2020-10-28 03:41] hyunhwaj commented on #46
@ftabaro, I want to make sure I understand it correctly, do you mean running SalmonTE disrupt other snakemake runs, even the other runs do not touch any files that are locked by SalmonTE?

Hyun-Hwan Jeong

[2020-10-28 11:06] ftabaro commented on #46
The other way. SalmonTE fails to start because it finds the lock of the outer pipeline.

[2020-10-28 17:02] hyunhwaj commented on #46
Got it, but I don't think a file being touched by multiple snakemakes simultaneously would be necessary and safe. Other thoughts?

Thank you,

Hyun-Hwan Jeong

[2020-11-04 23:37] CeciliaDeng commented on #9
Hi @hyunhwaj , I encountered the same problem, **Input file is not a FASTA file**, at the index step. The command I ran was "_SalmonTE.py index --ref_name=TEST --input_fasta=TEST.fa_"

The TEST.fa contains sequences like:

GTTGAACAGTTTAGAATTTGGTCCATTTGGCAAAG....

AAAATTACAAATAAAATCATTCAAA.....

[sequences]

[sequences]

The index step failed with the same error when a genome assembly was used.

Ho

[2020-11-08 01:01] hyunhwaj commented on #9
@CeciliaDeng

I suspect the FASTA file is not properly formatted.

1. As I noted on https://github.com/LiuzLab/SalmonTE/wiki/How-to-build-a-customized-index,

a sequence in the FASTA file should be written as follows:

[code]

2. It seems that you didn't bring the FASTA file from RepBase, so you would need to properly edit [`reference/clades_extended.csv`](https://github.com/LiuzLab/SalmonTE/blob/

[2020-11-11 21:59] CeciliaDeng commented on #9
Hi @hyunhwaj , Thank you for your advice. I changed all the seqIDs accordingly. Now running`SalmonTE.py index --ref_name=TEST --input_fasta=test.fa` exited with

Traceback (most recent call last):
  File "/opt/SalmonTE/SalmonTE.py", line 292, in <module>
    run(args)
  File "/opt/SalmonTE/SalmonTE.py", line 248, in run
    build_salmon_index(args['--input_fasta'], args['--ref_name'], args['--te_o

[2020-11-12 23:19] hyunhwaj commented on #9
SalmonTE currently doesn't have an option to change the directory, but you can locally install SalmonTE to your home folder if you are using a server.

Thank you,

Hyun-Hwan Jeong

[2020-11-21 01:21] olferievm opened #49 "Test example failed"
Deployed SalmonTE on OSX Cathalina as follows.
[code]

Try to run the test script and got an error.
[code]

Try to run quantification and have the other error.
[code]

It seems something wrong with the snakemake. Not sure how can I fix it?

Sincerely,

Mike.

[2020-11-23 04:17] olferievm commented on #49
Try to do the same on my Ubuntu machine and have the same issue. What is wrong?

[2020-11-23 04:50] hyunhwaj commented on #49
Hi @olferievm,

Thanks for reporting this issue, and please understand I may slowly respond to the problem because I have limited time to maintain this software since I have moved to another job. It seems SalmonTE doesn't fit the latest version of `snakemake`. I am going to investigate how to run SalmonTE with the latest `snakemake`. Meanwhile, I would recommend you use `snakemake` version 5.5.0.

[2020-11-23 05:13] olferievm commented on #49
Hyun-Hwan,

Thank you for your fast reply. Much better. The quantification mode seems to work using snakemake==5.5.0. Still got the problem related to DESeq2 package at the end.

SalmonTE.py quant --reference=hs example
2020-11-23 00:05:23,359 Starting quantification mode
2020-11-23 00:05:23,359 Collecting FASTQ files...
2020-11-23 00:05:23,359 SalmonTE assumes that 'example' is a directory, and S

[2020-11-23 07:52] hyunhwaj commented on #49
I believe this could be resolved by changing `condition.csv` file by following the instruction in `README.md`. Please read this - https://github.com/LiuzLab/SalmonTE#running-test-mode-to-perform-statistical-test

Hyun-Hwan Jeong

[2020-11-23 15:11] olferievm commented on #49
Got it. Thank you for your help!

[2020-11-23 15:16] #49 closed

[2020-12-23 13:57] ftabaro commented on #46
One option could be to support Snakemake's `--unlock` option from SalmonTE top level scripts: e.g. `salmonTE quant [...] --no-lock`

[2021-02-04 04:31] #43 closed

[2021-02-11 07:11] zya226 opened #50 "How to build a local index"
Dear Hyun-Hwan Jeong,

I am trying to build my own SalmonTE index. In the previous post, I found this link https://github.com/hyunhwaj/SalmonTE/wiki/How-to-build-a-customized-index. However, it did not work. Could you please tell me how to build the SalmonTE index if I have my own fasta file and gtf file?

Thanks in advance,
Yong

[2021-02-11 07:16] hyunhwan-jeong commented on #50
Dear Yong,

SalmonTE doesn't requires any GTF file to build an index, and it only requires fasta file. I am not sure how you tried to build your index. If you want to have a support from me, you probably need to share details of your data.

Thank you,

Hyun-Hwan Jeong

[2021-02-11 16:09] zya226 commented on #50
Dear Hyun-Hwan,

Thank you for your quick response.

I am interested in hg38 gene features and ERVs expression of 339 RNA-seq samples. I have my own defined ERVs that are different from those in the public databases. So I would like to build my own index. I have extracted the sequences for my ERVs (fasta file). What should I do for the next step? The previous post mentioned the sequence name shoul

[2021-04-08 13:42] amitpande74 opened #51 "command line query"
Hi,
I am new to command line ...and a bit confused regarding this:
`SalmonTE.py index [--ref_name=ref_name] (--input_fasta=fa_file) [--te_only]`

what does --te_only mean ? Do I have to give the TE annotation file ? but in which format ?
kindly help.
I tried running:
./SalmonTE.py quant --reference=hs example/CTRL_1_R1.fastq example/CTRL_2_R1.fastq
2021-04-08 15:43:40,525 Starting quantification m

[2021-04-09 10:14] #51 closed

[2021-04-09 10:19] amitpande74 opened #52 "running paired end data with SalmonTE"
Hi,
I am trying to run the tool on paired end data.
[code]
Why is SalmonTE picking only 1 fastq file ??
Kindly help.

[2021-04-09 17:51] hyunhwan-jeong commented on #52
Hi @amitpande74,

I suspect that the file name should be replaced with

`PE1/ZI_JR_004_CTTGTA_L001_R1.fastq` and  `PE1/ZI_JR_004_CTTGTA_L001_R2.fastq`. Can you please try it?

Thank you,

Hyun-Hwan Jeong

[2021-04-10 10:13] amitpande74 commented on #52
Dear @hyunhwan-jeong ,
After shortening the file names, it executes well.
Thanks for your quick response.

[2021-04-10 10:14] #52 closed

[2021-04-10 11:27] amitpande74 opened #53 "to build indices"
HI,
Can you kindly explain this command
`SalmonTE.py index [--ref_name=ref_name] (--input_fasta=fa_file) [--te_only]`
I know that the input fasta should be the hg19 but for --te_only which format should be used ? GTF or the BED.

regards.

[2021-04-12 17:28] hyunhwan-jeong commented on #53
@amitpande74,

First, I think this question is related #50, and I have attached my answer:

Second, SalmonTE is not relevant with any version of genome index, it is mainly on TE sequences in RepBase. I recommend you to read our wiki page - https://github.com/LiuzLab/SalmonTE/wiki/How-to-build-a-customized-index to understand `--te_only` option.

Best,

Hyun-Hwan Jeong

[2021-04-12 17:29] hyunhwan-jeong commented on #50
@zya226,

Sorry for my late response, could you send your FASTA file to jeong.compbio@gmail.com?

Thank you,

Hyun-Hwan Jeong

[2021-05-20 17:31] zya226 commented on #50
Hi Hyun-Hwan,

Sorry, I just saw your email. I have sent my fasta file of transposons that I am interested in to your email.

Thanks,
Yong

[2021-06-15 10:33] ncnlll opened #54 "issues with index output"
Hi Hyun-Hwan Jeong,
I've tried using SalmonTE on some penguin data from our lab, but i'm having issues with the index step.
I created my FASTA file of repeat sequences

[EmperorTranscrNew_families.txt](https://github.com/LiuzLab/SalmonTE/files/6654893/EmperorTranscrNew_families.txt)

with RepeatModeler and modified the headers as you suggested in "How to build a customized index", and after that I

[2021-06-15 11:00] fernandes-flavia commented on #54
Hi Lorena,

If you made the .csv file with LibreOffice (Calc) it is possible that it automatically adds the quotation marks " " in your text (e.g., "DNA/hAT-Ac","DNA/hAT-Ac","DNA transposon","Transposable Element"), and that could be causing problems for SalmonTE to read it properly... Try removing the " " and see if it works :)

Best
Flavia

[2021-06-15 12:03] ncnlll commented on #54
It worked. Thank you so much Flavia :)

Best
Lorena

[2021-06-15 12:03] #54 closed

[2021-07-08 02:22] Xiaofei-git commented on #13
How to download SalmonTE from bioconda?

[2021-07-08 07:22] Xiaofei-git opened #55 "SyntaxError on test data running SalmonTE"
Dear there,

I tried to install SalmonTE. But, I failed to make it run on test data and did't figure out why did it happen.

Really appreciate for any help!

Best,

Xiaofei

[code]

[2021-07-09 01:23] Xiaofei-git commented on #55
In fact, it is paired-end. I do't know why it is considered as single-end "2021-07-08 14:00:37,753 The input dataset is considered as a single-end dataset".

[2021-07-12 18:32] hyunhwan-jeong commented on #55
Hi @Xiaofei-git, the first thing I could figure out is that the file name has to be `example/CTRL_1_R1.fastq example/CTRL_1_R2.fastq` instead of `example/CTRL_1_R1.fastq example/CTRL_2_R1.fastq`. `CTRL_1_R1.fastq` and `CTRL_2_R1.fastq` are from different samples, so SalmonTE would not consider them as paired-end samples.

Regarding another error, I may need to have more inputs from you. Could you

[2021-07-12 18:33] #53 closed

[2021-07-12 18:33] hyunhwan-jeong commented on #50
Hi @zya226,

These days were busy days for me, and I had no time to take a look, I will respond to you soon! Sorry for the delay.

[2021-07-12 18:36] hyunhwan-jeong commented on #13
@Xiaofei-git unfortunately it hasn't been implemented on bioconda yet. There are a couple of technical issues that need to be resolved, and I was busy for other projects after I have moved to another institute. It is still on my TODO list. Please keep watching it.

Thank you,

Hyun-Hwan Jeong

[2021-07-13 14:21] Xiaofei-git commented on #55
Yes, you are right. I did't realize I used different samples of R1.

For another error, here are the what I see from "pip list" and "conda list":

[code]

[code]

[2021-07-19 01:51] Xiaofei-git commented on #55
Dear @hyunhwan-jeong ,

I am checking back to see do you have any idea about the error?

Thanks a lot!

BEST,

Xiaofei

[2021-07-19 16:47] hyunhwan-jeong commented on #55
Hi @Xiaofei-git,

I guess the snakemake version has a compatibility issue with SalmonTE. I believe it could be solved if you install the latest version of snakemake. You can install the latest version with the following command - `pip install snakemake --upgrade`

Hyun-Hwan Jeong

[2021-07-20 14:08] Xiaofei-git commented on #55
@hyunhwan-jeong

The error was fixed with latest version of snakelike.

$ snakemake -v
6.6.1

But, got another error as below

[code]

[2021-07-20 14:10] hyunhwan-jeong commented on #55
@Xiaofei-git are you running this on macOS?

Hyun-Hwan Jeong

[2021-07-22 03:19] Xiaofei-git commented on #55
Yes.

[2021-07-22 22:28] hyunhwan-jeong commented on #55
@Xiaofei-git,

You may execute the line before you run SalmonTE

[code]

Or you can add the command to your shell configuration (e.g., `.bashrc`).

Hope it helps,

Hyun-Hwan Jeong

[2021-07-26 17:46] zya226 commented on #50
Sure, thanks! Please let me know when you have a chance to take a look.

[2021-07-29 11:58] Shirleyyyyyy opened #56 "error: Failed to solve scheduling problem with ILP solver"
Hello,I got an error as follow.
I update snakemake (6.6.1), but it did not work either.

SalmonTE.py quant --num_threads 10 --reference=hs ~/SalmonTE/example/CTRL_1_R1.fastq ~/SalmonTE/example/CTRL_1_R2.fastq

2021-07-29 19:56:25,823 Starting quantification mode
2021-07-29 19:56:25,823 Collecting FASTQ files...
2021-07-29 19:56:25,830 The input dataset is considered as a paired-ends dataset.
2021-

[2021-07-29 16:26] hyunhwan-jeong commented on #56
Hi @Shirleyyyyyy,

Did the command generate any output?  I don't think the bottom messages are error messages. I wonder what will happen if you run without `--num_threads` parameter.

Thank you,

Hyun-Hwan Jeong

[2021-07-29 16:26] #55 closed

[2021-07-30 02:33] Shirleyyyyyy commented on #56
Hi,@hyunhwan-jeong. Thanks for your reply.

1.This is the output I got. Is this the final result supposed to be?
![image](https://user-images.githubusercontent.com/29476667/127590187-da6a7030-2efd-49e7-9674-900c54c41d3e.png)

2.I tried without --num_threads parameter, and the same error is shown as below.
SalmonTE.py quant --reference=hs ~/SalmonTE/example/CTRL_1_R1.fastq ~/SalmonTE/example/CTRL_1

[2021-08-03 11:59] Xiaofei-git commented on #55
Thanks a lot!

[2021-08-09 17:41] hyunhwan-jeong commented on #56
@Shirleyyyyyy

1. Yes, the files were expected.
2. Again, this is a warning message and not an error message.
3. Could you change the file name to `O4C2-Ctr-1-R1_fastq`O4C2-Ctr-1_R2.fastq`?

Thank you,

Hyun-Hwan Jeong

[2021-08-25 15:22] lgallegovillar opened #57 "problem to run salmon on macOS arm64 Big_Sur"
Hello,

After running: SalmonTE.py quant --reference=hs example
I am getting the following error (please see below). I am using SalmonTE on macOS (arm64_Big_Sur). I saw issue #37.  I followed the instructions from README.md. and installed tbb through homebrew.
Currently, I am using the snakemake version 6.7.0 and Salmon v0.8.2.

thanks,
Lorena

2021-08-25 15:52:52,817 Starting quantification mode

[2021-09-02 13:09] lgallegovillar opened #58 "how to handle technical replicates"
Dear Hyun-Hwan Jeong,

Finally, I was able to run SalmonTE using an amd64 system instead of arm64. I would like to see differences in TE expression after different treatments and have biological and technical replicates from paired-end bulk RNA seq data.

How should I deal with the technical replicates? do you recommend concatenating the fastq files (example: cat sample1_line1_R1.fastq.gz sample1_

[2021-09-15 07:03] Xiaofei-git opened #59 "condition.csv and MAPPING_INFO.csv, and mixed PE and SR data in input fastq folder?"
Dear @hyunhwan-jeong ,

After running
[code]
, I am expecting get

[code]
But, I missed  MAPPING_INFO.csv and got phenotype.csv instead of condition.csv?

[code]

Another question, could SalmonTE take mix PE and SR data in input folder (e.g. there are both single end and paired end fastq in example folder, is that OK for SalmonTE to get right outputs)?

Thanks a lot!

Best,

Xiaofei

[2021-09-17 05:24] Xiaofei-git commented on #59
Hi @hyunhwan-jeong, I think it should work with mixture of SR and PE FASTQs. I tried to remove CTRL_1_R2.fastq in example folder and run SalmonTE.py count, and it went through. So, I believe it should work out.

But, I still can't get MAPPING_INFO.csv and condition.csv. Do you know the reason for this?

Thanks a lot!

Best,

Xiaofei

[2021-09-20 16:11] lgallegovillar opened #60 "OSError: [Errno 8] Exec format error_ arm64_using a VM"
Hello Hyun-Hwan Jeong,

I am trying to run SalmonTE on arm64 system (M1 Apple using a VM) and I get the following Errors:

base) parallels@ubuntu-linux-20-04-desktop:~/SalmonTE$ python3 SalmonTE.py quant --reference=hs example
2021-09-20 18:04:21,274 Starting quantification mode
2021-09-20 18:04:21,274 Collecting FASTQ files...
2021-09-20 18:04:21,274 SalmonTE assumes that 'example' is a directory

[2021-09-23 05:35] Xiaofei-git commented on #59
@hyunhwan-jeong Could you help me to confirm if it can take the folder of mix SR and PE?

I think I made a mistake for the test of mix SR and PE. The run did not go through and I got as below:

[code]

[2021-09-24 09:24] Xiaofei-git opened #61 "SalmonTE quant outputs empty EXPR.csv file using AWS Batch and docker image"
Dear @hyunhwan-jeong ,

I run SalmonTE.py quant on AWS Batch using docker image wwliao/salmonte:latest and got empty EXPR.csv, same issue as here https://github.com/hyunhwan-jeong/SalmonTE/issues/18 . I also tried to change the name but the problem does not figure out.

Could you please let me know what else information do you need to fix the issue? Do you think is it associated with SalmonTE or s

[2021-09-24 14:09] hyunhwan-jeong commented on #61
Hi @Xiaofei-git, can you share a log?

[2021-09-24 14:10] hyunhwan-jeong commented on #60
Duplicate of #57, I will figure it out soon.

[2021-09-24 14:10] #60 closed

[2021-09-28 03:04] Xiaofei-git commented on #61
[code]

[2021-09-28 03:06] Xiaofei-git commented on #61
[code]

[2021-09-28 03:08] Xiaofei-git commented on #61
[code]

[2021-09-30 17:12] hyunhwan-jeong commented on #61
@Xiaofei-git, sorry for the late response. It seems that quantification has been done, but it doesn't create `EXPR.csv` file. Can you let me know what command line you use and where the files are stored (in local or S3)?

Thank you,

Hyun-Hwan Jeong

[2021-10-01 14:09] Xiaofei-git commented on #61
Hi @hyunhwan-jeong, we used nextflow to submit AWS Batch jobs. Here is the part of code for the paired process. The files are stored/published in S3.

Thanks a lot for your help!

[code]

[2021-10-01 14:35] Xiaofei-git commented on #61
@hyunhwan-jeong  Do you know why there is no "run_salmon_fq"? The below log is what I am expecting. But, there is no "run_salmon_fq" in my log file above.

[code]

[2021-10-01 14:54] Xiaofei-git commented on #61
Here is the ".command.sh" for one of the samples from the AWS Batch:

[code]

[2021-12-01 02:39] Xiaofei-git opened #62 "why not integer with --exprtype=count option?"
Hi @hyunhwan-jeong , It is highly recommended to set --exprtype=count for differential expression analysis. But, I have question about the output. Why it is not integer for the counts as below for example? Thanks!

<img width="296" alt="Screen Shot 2021-12-01 at 10 37 12 AM" src="https://user-images.githubusercontent.com/22894969/144161870-73d73858-5655-470a-9fbd-f4a0face71e0.png">

[2021-12-01 02:51] hyunhwan-jeong commented on #62
Hi @Xiaofei-git, this is duplicated with #23. In sum, the count mode would generate 'estimated count' as [Salmon did](https://salmon.readthedocs.io/en/latest/file_formats.html). You may need to round the numbers up for your next step.

Thank you,

Hyun-Hwan Jeong

[2021-12-02 01:41] Xiaofei-git commented on #62
Thanks, @hyunhwan-jeong !

[2021-12-02 01:41] #62 closed

[2021-12-14 08:15] #61 closed

[2021-12-14 08:15] #59 closed

[2021-12-14 08:33] Xiaofei-git opened #63 "coordinates of the TEs in clades.csv"
Hi @hyunhwan-jeong ,

How can I get the coordinates of the TEs in clades.csv. What is the reference version you used for mapping? I checked the salmonTE.py, but I did't find out.

The idea is to compare the expression of the TEs to the expression of neighboring genes, so I need to know the poison of TEs and the version of reference.

Thanks a lot!

[2021-12-15 20:31] hyunhwan-jeong commented on #63
Hello @Xiaofei-git,

SalmonTE doesn't provide any locus information of TEs. You may think about using some database like RepeatMasker/dfam to find the locations. If you think it would be useful to include those types of information in SalmonTE, I would be welcome to hear your idea.

Kind regards,

Hyun-Hwan Jeong

[2021-12-16 11:55] Xiaofei-git commented on #63
I will try to figure it out and let you know. Thanks for your reply!

[2022-01-19 15:03] amitjavilaventura opened #64 ""Non-supported" species"
Dear Hyun-Hwan Jeong,

I want to try salmonTE with species that are not in the supported ones (according to the documentation: _mm_, _hg_, _dr_ and _dm_).

I was wondering whether I can build indexes for these species and use those for subsequent analyses. They are not present in RepBase, but I can download the repeat masker sequences (all TEs) from the UCSC.

Is it possible to do this?

Thank you

[2022-02-14 13:59] lgallegovillar opened #65 "job execution failed --one of the commands exited with non-zero exit code"
Hi @hyunhwan-jeong ,

I got the following error after running SalmonTE with a new reference index, hope you can help me with this.

thanks,
Lorena

System: 5.13.0-28-generic x86_64 bits: 64 compiler: N/A
CPU: AMD Ryzen 7 4800U
Snakemake version: 6.15.5

lorena@Churribuntu:~/SalmonTE$ python3 SalmonTE.py quant --reference=hs_index --outpath=output_JMML_nindex/ example/CTRL_1_R1.fastq example/CTRL_1

[2022-02-14 14:06] #58 closed

[2022-03-05 15:57] aditigopalan opened #66 "Syntax error in SalmonTE.py"
When I run the following command:
$ python3 SalmonTE.py quant --reference=hs example

I get this error:
  File "SalmonTE.py", line 7
    <!DOCTYPE html>
    ^

How do I fix this?

[2022-03-08 03:07] hyunhwan-jeong commented on #66
@aditigopalan, this is a rare error, and I want you to check whether `SalmonTE.py` is modified. Can you check its md5sum? You are expect to see `d06954b1ca6a402837b6b2ac9464d488`.

Thank you,

Hyun-Hwan Jeong

[2022-03-08 03:09] hyunhwan-jeong commented on #65
@lgallegovillar, are you still facing the issue? If so, could you share an error message when you put the following command line `./salmon/linux/bin/salmon quant -q -i reference/hs_index -l A -1 /tmp/tmpmp16eaic/CTRL_1_R1.fastq -2 /tmp/tmpmp16eaic/CTRL_1_R2.fastq -o output_JMML_nindex/CTRL_1 -p 4 2> /dev/null` at the SalmonTE folder?

[2022-05-17 02:28] Gemma-Zhang-326 opened #67 "NameError in line 24 of /SalmonTE-master/snakemake/Snakefile.paired: name 'directory' is not defined"
Hi I am trying to use SalmonTE, but encounter an issue when testing with the example data. Could help me check this? Many thanks!

(SalmonTE) SalmonTE-master$ python SalmonTE.py quant --reference=hs  ./example
2022-05-17 10:23:58,042 Starting quantification mode
2022-05-17 10:23:58,042 Collecting FASTQ files...
2022-05-17 10:23:58,042 SalmonTE assumes that './example/' is a directory, and SalmonTE

[2022-05-17 09:06] Gemma-Zhang-326 commented on #67
I find out this bugs due to the version of snakemake is too old. The problem is solved when I update snakemake to 7.6.2
Thank you!

[2022-05-17 09:06] #67 closed

[2022-06-01 09:33] Bioleonard opened #68 "Exiting because a job execution failed."
Hello,

Thanks for developing this powerful tool!
I got an error when I run `SalmonTE.py quant ` mode:

It looks right when do salmon quant but didn't generate any EXPR.csv and clades.csv files in `outpath` , should I have to create any file before doing quant?

[code]

I get salmon quant outcome in out path but no any other outcomes from SalmonTE.

This is my outpath file:
[code]

[2022-06-04 08:00] hyunhwan-jeong commented on #68
Hi @Bioleonard, what were you able to see when you open `.snakemake/log/2022-06-01T170332.217095.snakemake.log`? Also, Can you check you are able to execute `salmon` in your terminal by typing `salmon`?

[2022-06-04 08:01] hyunhwan-jeong commented on #66
Close due to no response.

[2022-06-04 08:01] #66 closed

[2022-06-04 08:02] hyunhwan-jeong commented on #65
Close due to no response

[2022-06-04 08:02] #65 closed

[2022-06-04 08:04] hyunhwan-jeong commented on #64
Sorry for the late response, @amitjavilaventura. I wonder you have finished creating the reference file - if you don't please describe that what species you want to try to build a reference.

Thank you,

Hyun-Hwan Jeong

[2022-06-04 08:04] #63 closed

[2022-06-04 08:05] #57 closed

[2022-06-04 14:36] Bioleonard commented on #68
The log file didn't have more details I think and my salmon without problems.
[code]

I think the job execution failed may related one step that summarize the outcome to SalmonTE specific output. Because I only have the salmon outcome. Is there a possibility that I did not install R？ Does quant mode require R installation? I didn't install R because I couldn't fix the dependencies of the package a

[2022-06-19 04:44] sulevk opened #69 "SalmonTE example doesn't work"
Thank you for the salmonTE, great tool. However, running it is a bit cumbersome. After installation I tried to run example and got this:
./SalmonTE.py quant --reference=hs example
2022-06-19 12:39:55,355 Starting quantification mode
2022-06-19 12:39:55,356 Collecting FASTQ files...
2022-06-19 12:39:55,356 SalmonTE assumes that 'example' is a directory, and SalmonTE will search any FASTQ file in th

[2022-06-19 05:16] sulevk opened #70 "job execution failed"
I tried salmonTE with another computer, macOS 12.4 and got a different error:

./salmonTE.py quant --reference=hs example
2022-06-19 12:47:02,064 Starting quantification mode
2022-06-19 12:47:02,064 Collecting FASTQ files...
2022-06-19 12:47:02,064 SalmonTE assumes that 'example' is a directory, and SalmonTE will search any FASTQ file in the directory.
2022-06-19 12:47:02,069 The input dataset is

[2022-07-07 08:13] smanessi opened #71 "Human fasta reference"
Hi,

I try to make a human custom reference.fa for SalmonTE. On github i found only mm.fa for mouse sample.

I would like to check hs.fa either, where i can find it?
Thanks

[2022-07-07 10:08] sulevk commented on #70
No, I haven't found anything.

[2022-07-07 13:40] hyunhwan-jeong commented on #70
Hi @sulevk and @Chenoax3,

This will require a build of salmon from its source, and not sure how easy it is. One workaround option would be using a virtual machine or docker. I probably can build a docker image for it, does it work?

Thank you,

Hyun-Hwan Jeong

[2022-07-07 13:41] hyunhwan-jeong commented on #71
Hi @smanessi, please find at https://github.com/hyunhwan-jeong/SalmonTE/blob/master/scripts/hs_origin.fa

Best regards,

Hyun-Hwan Jeong

[2022-07-07 13:41] #71 closed

[2022-07-07 13:42] hyunhwan-jeong commented on #69
Duplicate of #70

[2022-07-07 13:43] #64 closed

[2022-07-07 13:44] #45 closed

[2022-07-09 10:24] Chenoax3 commented on #70
Hi @hyunhwan-jeong,

thanks for your help! I am not familiar with using virtual machines or docker, but it sounds easy to use. What do I have to do?

I could try running SalmonTE on another computer. Do you think it would make a difference?

Best,
Chenoa

[2022-07-25 01:51] Meatpie996 commented on #70
I had same problem in the conda environment in both Mac and WSL Ubuntu. It seems snakemake doesn’t work under that condition. You should try python venv. At least, it worked in WSL Ubuntu in my case.